In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time

Download the Chrome Webdriver from https://sites.google.com/a/chromium.org/chromedriver/downloads (make sure you download the same Chrome version driver)

And place the file at notebook location

In [2]:
driver = webdriver.Chrome(executable_path='chromedriver.exe')

Getting the Player Stats<br>
First we will get the Total Points secured by Each player

In [987]:
driver.get('https://www.prokabaddi.com/stats/1-102-total-points-statistics')

Wait for above cell to execute

In [988]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [989]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
player_profile = []
player_team = []
matches_played = []
total_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm2 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm2)
    else:
        player_profile.append('')
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Matches Played by Player
    itm4 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm4)
    
    #Fetching the Total Points scored by a Player
    itm5 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm5)

#print(player_names)
#print(player_profile)
#print(player_team)
#print(matches_played)
#print(total_points)

In [990]:
pyr_tot_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_teams
                                     , 'matches_played':matches_played, 'total_points':total_points})

#pyr_tot_points_seas1.head()

Get Successful raids

In [991]:
driver.get('https://www.prokabaddi.com/stats/1-21-successful-raids-statistics')

Wait for above cell to execute

In [992]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [993]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_raids = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_raids.append(itm2)

#print(player_names)
#print(success_raids)

In [994]:
pyr_success_raids_seas1 = pd.DataFrame({'name':player_names, 'success_raids':success_raids})

#pyr_success_raids_seas1.head()

Get Raid Points

In [995]:
driver.get('https://www.prokabaddi.com/stats/1-22-raid-points-statistics')

Wait for above cell to execute

In [996]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [997]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    raid_points.append(itm2)

#print(player_names)
#print(raid_points)

In [998]:
pyr_raid_points_seas1 = pd.DataFrame({'name':player_names, 'raid_points':raid_points})

#pyr_raid_points_seas1.head()

Get Successful Tackles

In [999]:
driver.get('https://www.prokabaddi.com/stats/1-23-successful-tackles-statistics')

Wait for above cell to execute

In [1000]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1001]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_tackles = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_tackles.append(itm2)

#print(player_names)
#print(success_tackles)

In [1002]:
pyr_success_tackles_seas1 = pd.DataFrame({'name':player_names, 'success_tackles':success_tackles})

#pyr_success_tackles_seas1.head()

Get Tackle Points

In [1003]:
driver.get('https://www.prokabaddi.com/stats/1-103-tackle-points-statistics')

Wait for above cell to execute

In [1004]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1005]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
tackle_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    tackle_points.append(itm2)

#print(player_names)
#print(tackle_points)

In [1006]:
pyr_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'tackle_points':tackle_points})

#pyr_tackle_points_seas1.head()

Get Average Raid Points

In [1007]:
driver.get('https://www.prokabaddi.com/stats/1-138-avg-raid-points-statistics')

Wait for above cell to execute

In [1008]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1009]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_raid_points.append(itm2)

#print(player_names)
#print(avg_raid_points)

In [1010]:
pyr_avg_raid_points_seas1 = pd.DataFrame({'name':player_names, 'avg_raid_points':avg_raid_points})

#pyr_avg_raid_points_seas1.head()

Get Average Tackle Points

In [1011]:
driver.get('https://www.prokabaddi.com/stats/1-139-avg-tackle-points-statistics')

Wait for above cell to execute

In [1012]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1013]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_tackle_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_tackle_points.append(itm2)

#print(player_names)
#print(avg_tackle_points)

In [1014]:
pyr_avg_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'avg_tackle_points':avg_tackle_points})

#pyr_avg_tackle_points_seas1.head()

Get Do Or Die Raid Points

In [1015]:
driver.get('https://www.prokabaddi.com/stats/1-132-do-or-die-raid-points-statistics')

Wait for above cell to execute

In [1016]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1017]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
dod_raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    dod_raid_points.append(itm2)

#print(player_names)
#print(dod_raid_points)

In [1018]:
pyr_dod_raid_points_seas1 = pd.DataFrame({'name':player_names, 'dod_raid_points':dod_raid_points})

#pyr_dod_raid_points_seas1.head()

Get Super Raids

In [1019]:
driver.get('https://www.prokabaddi.com/stats/1-104-super-raids-statistics')

Wait for above cell to execute

In [1020]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1021]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_raids = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_raids.append(itm2)

#print(player_names)
#print(super_raids)

In [1022]:
pyr_super_raids_seas1 = pd.DataFrame({'name':player_names, 'super_raids':super_raids})

#pyr_super_raids_seas1.head()

Get Super Tackles

In [1023]:
driver.get('https://www.prokabaddi.com/stats/1-28-super-tackles-statistics')

Wait for above cell to execute

In [1024]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1025]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_tackles = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_tackles.append(itm2)

#print(player_names)
#print(super_tackles)

In [1026]:
pyr_super_tackles_seas1 = pd.DataFrame({'name':player_names, 'super_tackles':super_tackles})

#pyr_super_tackles_seas1.head()

Get Super 10s

In [1027]:
driver.get('https://www.prokabaddi.com/stats/1-100-super-10s-statistics')

Wait for above cell to execute

In [1028]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1029]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_10s = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_10s.append(itm2)

#print(player_names)
#print(super_10s)

In [1030]:
pyr_super_10s_seas1 = pd.DataFrame({'name':player_names, 'super_10s':super_10s})

#pyr_super_10s_seas1.head()

Get High 5s

In [1031]:
driver.get('https://www.prokabaddi.com/stats/1-101-high-5s-statistics')

Wait for above cell to execute

In [1032]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [1033]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
high_5s = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    high_5s.append(itm2)

#print(player_names)
#print(high_5s)

In [1034]:
pyr_high_5s_seas1 = pd.DataFrame({'name':player_names, 'high_5s':high_5s})

#pyr_high_5s_seas1.head()

Merge Player Stats into a master frame

In [1035]:
temp1 = pd.merge(pyr_tot_points_seas1, pyr_success_raids_seas1, on='name', how='left')
temp2 = pd.merge(temp1, pyr_raid_points_seas1, on='name', how='left')
temp3 = pd.merge(temp2, pyr_success_tackles_seas1, on='name', how='left')
temp4 = pd.merge(temp3, pyr_tackle_points_seas1, on='name', how='left')
temp5 = pd.merge(temp4, pyr_avg_raid_points_seas1, on='name', how='left')
temp6 = pd.merge(temp5, pyr_avg_tackle_points_seas1, on='name', how='left')
temp7 = pd.merge(temp6, pyr_dod_raid_points_seas1, on='name', how='left')
temp8 = pd.merge(temp7, pyr_super_raids_seas1, on='name', how='left')
temp9 = pd.merge(temp8, pyr_super_tackles_seas1, on='name', how='left')
temp10 = pd.merge(temp9, pyr_super_10s_seas1, on='name', how='left')
season1_plyr_stats = pd.merge(temp10, pyr_high_5s_seas1, on='name', how='left')

season1_plyr_stats = season1_plyr_stats.fillna(0)

season1_plyr_stats.head()

,name,profile,team,matches_played,total_points,success_raids,raid_points,success_tackles,tackle_points,avg_raid_points,avg_tackle_points,dod_raid_points,super_raids,super_tackles,super_10s,high_5s
0,Anup Kumar,Raider,u-mumba,16,169,123,155,12,14,9.69,0.88,13,8,2,10,0
1,Rahul Chaudhari,Raider,telugu-titans,14,161,122,151,9,10,10.79,0.71,8,2,1,8,0
2,Maninder Singh,Raider,jaipur-pink-panthers,16,137,103,130,6,7,8.13,0.44,22,3,1,5,0
3,Ajay Thakur,Raider,bengaluru-bulls,15,127,96,122,5,5,8.13,0.33,8,2,0,5,0
4,Kashiling Adake,Raider,dabang-delhi-kc,14,122,92,113,8,9,8.07,0.64,18,3,1,5,0

In [1036]:
outfile = open('data/season1_player_stats.csv', mode='w')
season1_plyr_stats.to_csv('data/season1_player_stats.csv', mode='w', index = False, header=True)
outfile.close()

### Team Stats

Getting the Team Stats<br>
First we will get the Total Points secured by Each Team

In [1037]:
driver.get('https://www.prokabaddi.com/stats/1-96-total-points-scored-statistics')
time.sleep(5)

In [1038]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
matches_played = []
total_points = []

for item in team:
    
    #Fetching the Team
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    #Fetching the Matches Played by Team
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm2)
    
    #Fetching the Total Points scored by a Team
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm3)

#print(team_names)
#print(matches_played)
#print(total_points)

In [1039]:
team_tot_points_seas1 = pd.DataFrame({'team_name':team_names, 'matches_played':matches_played
                                      , 'total_points_scored':total_points})

team_tot_points_seas1.head()

              team_name matches_played total_points_scored
0  jaipur-pink-panthers             16                 579
1               u-mumba             16                 550
2         patna-pirates             16                 504
3       bengaluru-bulls             16                 498
4         telugu-titans             14                 497

Total Points Conceded

In [1040]:
driver.get('https://www.prokabaddi.com/stats/1-133-total-points-conceded-statistics')
time.sleep(5)

In [1041]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
total_points_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points_conceded.append(itm3)

#print(team_names)
#print(total_points_conceded)

In [1042]:
team_tot_points_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'total_points_conceded':total_points_conceded})

#team_tot_points_conceded_seas1.head()

Average Points Scored

In [1043]:
driver.get('https://www.prokabaddi.com/stats/1-140-avg-points-scored-statistics')
time.sleep(5)

In [1044]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
avg_points_scored = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_points_scored.append(itm3)

print(team_names)
print(avg_points_scored)

['jaipur-pink-panthers', 'u-mumba', 'telugu-titans', 'dabang-delhi-kc', 'bengal-warriors', 'patna-pirates', 'bengaluru-bulls', 'puneri-paltan']
['32.12', '31.5', '31.42', '29.92', '28.92', '28.62', '28.37', '26.85']

In [1045]:
team_avg_points_scored_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_points':avg_points_scored})
team_avg_points_scored_seas1.head()

              team_name team_avg_points
0  jaipur-pink-panthers           32.12
1               u-mumba            31.5
2         telugu-titans           31.42
3       dabang-delhi-kc           29.92
4       bengal-warriors           28.92

Successful Raids

In [1046]:
driver.get('https://www.prokabaddi.com/stats/1-13-successful-raids-statistics')
time.sleep(5)

In [1047]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_raids.append(itm3)

print(team_names)
print(team_success_raids)

['telugu-titans', 'u-mumba', 'jaipur-pink-panthers', 'patna-pirates', 'dabang-delhi-kc', 'bengaluru-bulls', 'bengal-warriors', 'puneri-paltan']
['272', '270', '270', '253', '246', '225', '213', '204']

In [1048]:
team_success_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_raids':team_success_raids})
team_success_raids_seas1.head()

              team_name team_success_raids
0         telugu-titans                272
1               u-mumba                270
2  jaipur-pink-panthers                270
3         patna-pirates                253
4       dabang-delhi-kc                246

Raid Points

In [1049]:
driver.get('https://www.prokabaddi.com/stats/1-97-raid-points-statistics')
time.sleep(5)

In [1050]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_raid_points.append(itm3)

print(team_names)
print(team_raid_points)

['u-mumba', 'jaipur-pink-panthers', 'telugu-titans', 'patna-pirates', 'bengaluru-bulls', 'dabang-delhi-kc', 'bengal-warriors', 'puneri-paltan']
['347', '344', '336', '316', '291', '285', '283', '269']

In [1051]:
team_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_raid_points':team_raid_points})
team_raid_points_seas1.head()

              team_name team_raid_points
0               u-mumba              347
1  jaipur-pink-panthers              344
2         telugu-titans              336
3         patna-pirates              316
4       bengaluru-bulls              291

Average Raid Points

In [1052]:
driver.get('https://www.prokabaddi.com/stats/1-98-avg-raid-points-statistics')
time.sleep(5)

In [1053]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_raid_points.append(itm3)

print(team_names)
print(team_avg_raid_points)

['telugu-titans', 'u-mumba', 'jaipur-pink-panthers', 'dabang-delhi-kc', 'bengal-warriors', 'patna-pirates', 'puneri-paltan', 'bengaluru-bulls']
['24', '21.69', '21.5', '20.36', '20.21', '19.75', '19.21', '18.19']

In [1054]:
team_avg_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_raid_points':team_avg_raid_points})
team_avg_raid_points_seas1.head()

              team_name team_avg_raid_points
0         telugu-titans                   24
1               u-mumba                21.69
2  jaipur-pink-panthers                 21.5
3       dabang-delhi-kc                20.36
4       bengal-warriors                20.21

Successful Tackles

In [1055]:
driver.get('https://www.prokabaddi.com/stats/1-15-successful-tackles-statistics')
time.sleep(5)

In [1056]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_tackles.append(itm3)

print(team_names)
print(team_success_tackles)

['jaipur-pink-panthers', 'bengaluru-bulls', 'u-mumba', 'patna-pirates', 'dabang-delhi-kc', 'bengal-warriors', 'telugu-titans', 'puneri-paltan']
['158', '153', '145', '124', '124', '106', '96', '93']

In [1057]:
team_success_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_tackles':team_success_tackles})
team_success_tackles_seas1.head()

              team_name team_success_tackles
0  jaipur-pink-panthers                  158
1       bengaluru-bulls                  153
2               u-mumba                  145
3         patna-pirates                  124
4       dabang-delhi-kc                  124

Tackle Points

In [1058]:
driver.get('https://www.prokabaddi.com/stats/1-95-tackle-points-statistics')
time.sleep(5)

In [1059]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_tackle_points.append(itm3)

print(team_names)
print(team_tackle_points)

['jaipur-pink-panthers', 'bengaluru-bulls', 'u-mumba', 'patna-pirates', 'dabang-delhi-kc', 'bengal-warriors', 'puneri-paltan', 'telugu-titans']
['170', '163', '157', '142', '134', '122', '107', '104']

In [1060]:
team_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_tackle_points':team_tackle_points})
team_tackle_points_seas1.head()

              team_name team_tackle_points
0  jaipur-pink-panthers                170
1       bengaluru-bulls                163
2               u-mumba                157
3         patna-pirates                142
4       dabang-delhi-kc                134

Average Tackle Points

In [1061]:
driver.get('https://www.prokabaddi.com/stats/1-99-avg-tackle-points-statistics')
time.sleep(5)

In [1062]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_tackle_points.append(itm3)

print(team_names)
print(team_avg_tackle_points)

['jaipur-pink-panthers', 'bengaluru-bulls', 'u-mumba', 'dabang-delhi-kc', 'patna-pirates', 'bengal-warriors', 'puneri-paltan', 'telugu-titans']
['10.63', '10.19', '9.81', '9.57', '8.88', '8.71', '7.64', '7.43']

In [1063]:
team_avg_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_tackle_points':team_avg_tackle_points})
team_avg_tackle_points_seas1.head()

              team_name team_avg_tackle_points
0  jaipur-pink-panthers                  10.63
1       bengaluru-bulls                  10.19
2               u-mumba                   9.81
3       dabang-delhi-kc                   9.57
4         patna-pirates                   8.88

Super Raids

In [1064]:
driver.get('https://www.prokabaddi.com/stats/1-134-super-raid-statistics')
time.sleep(5)

In [1065]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_raids.append(itm3)

print(team_names)
print(team_super_raids)

['patna-pirates', 'u-mumba', 'puneri-paltan', 'bengal-warriors', 'jaipur-pink-panthers', 'telugu-titans', 'bengaluru-bulls', 'dabang-delhi-kc']
['13', '12', '11', '11', '9', '8', '7', '5']

In [1066]:
team_super_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_raids':team_super_raids})
team_super_raids_seas1.head()

              team_name team_super_raids
0         patna-pirates               13
1               u-mumba               12
2         puneri-paltan               11
3       bengal-warriors               11
4  jaipur-pink-panthers                9

Super Tackles

In [1067]:
driver.get('https://www.prokabaddi.com/stats/1-20-super-tackles-statistics')
time.sleep(5)

In [1068]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_tackles.append(itm3)

print(team_names)
print(team_super_tackles)

['patna-pirates', 'bengal-warriors', 'puneri-paltan', 'jaipur-pink-panthers', 'u-mumba', 'bengaluru-bulls', 'dabang-delhi-kc', 'telugu-titans']
['18', '16', '14', '12', '12', '10', '10', '8']

In [1069]:
team_super_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_tackles':team_super_tackles})
team_super_tackles_seas1.head()

              team_name team_super_tackles
0         patna-pirates                 18
1       bengal-warriors                 16
2         puneri-paltan                 14
3  jaipur-pink-panthers                 12
4               u-mumba                 12

Do Or Die Raid Points

In [1070]:
driver.get('https://www.prokabaddi.com/stats/1-135-do-or-die-raid-points-statistics')
time.sleep(5)

In [1071]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_dod_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_dod_raid_points.append(itm3)

print(team_names)
print(team_dod_raid_points)

['jaipur-pink-panthers', 'puneri-paltan', 'patna-pirates', 'u-mumba', 'bengaluru-bulls', 'dabang-delhi-kc', 'telugu-titans', 'bengal-warriors']
['50', '48', '42', '40', '40', '31', '31', '30']

In [1072]:
team_dod_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_dod_raid_points':team_dod_raid_points})
team_dod_raid_points_seas1.head()

              team_name team_dod_raid_points
0  jaipur-pink-panthers                   50
1         puneri-paltan                   48
2         patna-pirates                   42
3               u-mumba                   40
4       bengaluru-bulls                   40

All-Outs Inflicted

In [1073]:
driver.get('https://www.prokabaddi.com/stats/1-136-all-outs-inflicted-statistics')
time.sleep(5)

In [1074]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_inflicted = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_inflicted.append(itm3)

print(team_names)
print(team_allouts_inflicted)

['jaipur-pink-panthers', 'telugu-titans', 'u-mumba', 'bengaluru-bulls', 'dabang-delhi-kc', 'patna-pirates', 'puneri-paltan', 'bengal-warriors']
['29', '25', '21', '20', '18', '18', '12', '11']

In [1075]:
team_allouts_inflicted_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_inflicted':team_allouts_inflicted})
team_allouts_inflicted_seas1.head()

              team_name team_allouts_inflicted
0  jaipur-pink-panthers                     29
1         telugu-titans                     25
2               u-mumba                     21
3       bengaluru-bulls                     20
4       dabang-delhi-kc                     18

All-Outs Conceded

In [1076]:
driver.get('https://www.prokabaddi.com/stats/1-137-all-outs-conceded-statistics')
time.sleep(5)

In [1077]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_conceded.append(itm3)

print(team_names)
print(team_allouts_conceded)

['puneri-paltan', 'bengal-warriors', 'dabang-delhi-kc', 'u-mumba', 'patna-pirates', 'jaipur-pink-panthers', 'bengaluru-bulls', 'telugu-titans']
['26', '25', '23', '19', '17', '15', '15', '14']

In [1078]:
team_allouts_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_conceded':team_allouts_conceded})
team_allouts_conceded_seas1.head()

         team_name team_allouts_conceded
0    puneri-paltan                    26
1  bengal-warriors                    25
2  dabang-delhi-kc                    23
3          u-mumba                    19
4    patna-pirates                    17

##### Merge Team Stats into a master frame

In [1079]:
temp1 = pd.merge(team_tot_points_seas1, team_tot_points_conceded_seas1, on='team_name', how='left')
temp2 = pd.merge(temp1, team_avg_points_scored_seas1, on='team_name', how='left')
temp3 = pd.merge(temp2, team_success_raids_seas1, on='team_name', how='left')
temp4 = pd.merge(temp3, team_raid_points_seas1, on='team_name', how='left')
temp5 = pd.merge(temp4, team_avg_raid_points_seas1, on='team_name', how='left')
temp6 = pd.merge(temp5, team_success_tackles_seas1, on='team_name', how='left')
temp7 = pd.merge(temp6, team_tackle_points_seas1, on='team_name', how='left')
temp8 = pd.merge(temp7, team_avg_tackle_points_seas1, on='team_name', how='left')
temp9 = pd.merge(temp8, team_super_raids_seas1, on='team_name', how='left')
temp10 = pd.merge(temp9, team_super_tackles_seas1, on='team_name', how='left')
temp11 = pd.merge(temp10, team_dod_raid_points_seas1, on='team_name', how='left')
temp12 = pd.merge(temp11, team_allouts_inflicted_seas1, on='team_name', how='left')
season1_team_stats = pd.merge(temp12, team_allouts_conceded_seas1, on='team_name', how='left')

season1_team_stats = season1_team_stats.fillna(0)

season1_team_stats

,team_name,matches_played,total_points_scored,total_points_conceded,team_avg_points,team_success_raids,team_raid_points,team_avg_raid_points,team_success_tackles,team_tackle_points,team_avg_tackle_points,team_super_raids,team_super_tackles,team_dod_raid_points,team_allouts_inflicted,team_allouts_conceded
0,jaipur-pink-panthers,16,579,458,32.12,270,344,21.5,158,170,10.63,9,12,50,29,15
1,u-mumba,16,550,499,31.5,270,347,21.69,145,157,9.81,12,12,40,21,19
2,patna-pirates,16,504,487,28.62,253,316,19.75,124,142,8.88,13,18,42,18,17
3,bengaluru-bulls,16,498,479,28.37,225,291,18.19,153,163,10.19,7,10,40,20,15
4,telugu-titans,14,497,474,31.42,272,336,24,96,104,7.43,8,8,31,25,14
5,dabang-delhi-kc,14,456,471,29.92,246,285,20.36,124,134,9.57,5,10,31,18,23
6,bengal-warriors,14,430,515,28.92,213,283,20.21,106,122,8.71,11,16,30,11,25
7,puneri-paltan,14,405,536,26.85,204,269,19.21,93,107,7.64,11,14,48,12,26

In [1080]:
outfile = open('data/season1_team_stats.csv', mode='w')
season1_team_stats.to_csv('data/season1_team_stats.csv', mode='w', index = False, header=True)
outfile.close()