In [331]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time

Download the Chrome Webdriver from https://sites.google.com/a/chromium.org/chromedriver/downloads (make sure you download the same Chrome version driver)

And place the file at notebook location

In [332]:
driver = webdriver.Chrome(executable_path='chromedriver.exe')

Getting the Player Stats<br>
First we will get the Total Points secured by Each player

In [333]:
driver.get('https://www.prokabaddi.com/stats/49-102-total-points-statistics')

Wait for above cell to execute

In [334]:
# time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

# time.sleep(3)

In [225]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
player_profile = []
player_team = []
matches_played = []
total_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm2 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm2)
    else:
        player_profile.append('')
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Matches Played by Player
    itm4 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm4)
    
    #Fetching the Total Points scored by a Player
    itm5 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm5)

#print(player_names)
#print(player_profile)
#print(player_team)
#print(matches_played)
#print(total_points)

In [226]:
pyr_tot_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team
                                     , 'matches_played':matches_played, 'total_points':total_points})

#pyr_tot_points_seas1.head()

Get Successful raids

In [227]:
driver.get('https://www.prokabaddi.com/stats/49-21-successful-raids-statistics')

Wait for above cell to execute

In [228]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [229]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_raids = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_raids.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(success_raids)

In [230]:
pyr_success_raids_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'success_raids':success_raids})

#pyr_success_raids_seas1.head()

Get Raid Points

In [231]:
driver.get('https://www.prokabaddi.com/stats/49-22-raid-points-statistics')

Wait for above cell to execute

In [232]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [233]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
raid_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    raid_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(raid_points)

In [234]:
pyr_raid_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'raid_points':raid_points})

#pyr_raid_points_seas1.head()

Get Successful Tackles

In [235]:
driver.get('https://www.prokabaddi.com/stats/49-23-successful-tackles-statistics')

Wait for above cell to execute

In [236]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [237]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_tackles = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_tackles.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(success_tackles)

In [238]:
pyr_success_tackles_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'success_tackles':success_tackles})

#pyr_success_tackles_seas1.head()

Get Tackle Points

In [239]:
driver.get('https://www.prokabaddi.com/stats/49-103-tackle-points-statistics')

Wait for above cell to execute

In [240]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [241]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
tackle_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    tackle_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(tackle_points)

In [242]:
pyr_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'tackle_points':tackle_points})

#pyr_tackle_points_seas1.head()

Get Average Raid Points

In [243]:
driver.get('https://www.prokabaddi.com/stats/49-138-avg-raid-points-statistics')

Wait for above cell to execute

In [244]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [245]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_raid_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_raid_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(avg_raid_points)

In [246]:
pyr_avg_raid_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'avg_raid_points':avg_raid_points})

#pyr_avg_raid_points_seas1.head()

Get Average Tackle Points

In [247]:
driver.get('https://www.prokabaddi.com/stats/49-139-avg-tackle-points-statistics')

Wait for above cell to execute

In [248]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [249]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_tackle_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_tackle_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(avg_tackle_points)

In [250]:
pyr_avg_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'avg_tackle_points':avg_tackle_points})

#pyr_avg_tackle_points_seas1.head()

Get Do Or Die Raid Points

In [251]:
driver.get('https://www.prokabaddi.com/stats/49-132-do-or-die-raid-points-statistics')

Wait for above cell to execute

In [252]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [253]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
dod_raid_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    dod_raid_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(dod_raid_points)

In [254]:
pyr_dod_raid_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'dod_raid_points':dod_raid_points})

#pyr_dod_raid_points_seas1.head()

Get Super Raids

In [255]:
driver.get('https://www.prokabaddi.com/stats/49-104-super-raids-statistics')

Wait for above cell to execute

In [256]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [257]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_raids = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_raids.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(super_raids)

In [258]:
pyr_super_raids_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'super_raids':super_raids})

#pyr_super_raids_seas1.head()

Get Super Tackles

In [259]:
driver.get('https://www.prokabaddi.com/stats/49-28-super-tackles-statistics')

Wait for above cell to execute

In [260]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [261]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_tackles = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_tackles.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(super_tackles)

In [262]:
pyr_super_tackles_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'super_tackles':super_tackles})

#pyr_super_tackles_seas1.head()

Get Super 10s

In [263]:
driver.get('https://www.prokabaddi.com/stats/49-100-super-10s-statistics')

Wait for above cell to execute

In [264]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [265]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_10s = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_10s.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(super_10s)

In [266]:
pyr_super_10s_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'super_10s':super_10s})

#pyr_super_10s_seas1.head()

Get High 5s

In [267]:
driver.get('https://www.prokabaddi.com/stats/49-101-high-5s-statistics')

Wait for above cell to execute

In [268]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [269]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
high_5s = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    high_5s.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(high_5s)

In [270]:
pyr_high_5s_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'high_5s':high_5s})

#pyr_high_5s_seas1.head()

Merge Player Stats into a master frame

In [271]:
temp1 = pd.merge(pyr_tot_points_seas1, pyr_success_raids_seas1, on=['name', 'profile', 'team'], how='left')
temp2 = pd.merge(temp1, pyr_raid_points_seas1, on=['name', 'profile', 'team'], how='left')
temp3 = pd.merge(temp2, pyr_success_tackles_seas1, on=['name', 'profile', 'team'], how='left')
temp4 = pd.merge(temp3, pyr_tackle_points_seas1, on=['name', 'profile', 'team'], how='left')
temp5 = pd.merge(temp4, pyr_avg_raid_points_seas1, on=['name', 'profile', 'team'], how='left')
temp6 = pd.merge(temp5, pyr_avg_tackle_points_seas1, on=['name', 'profile', 'team'], how='left')
temp7 = pd.merge(temp6, pyr_dod_raid_points_seas1, on=['name', 'profile', 'team'], how='left')
temp8 = pd.merge(temp7, pyr_super_raids_seas1, on=['name', 'profile', 'team'], how='left')
temp9 = pd.merge(temp8, pyr_super_tackles_seas1, on=['name', 'profile', 'team'], how='left')
temp10 = pd.merge(temp9, pyr_super_10s_seas1, on=['name', 'profile', 'profile', 'team'], how='left')
season1_plyr_stats = pd.merge(temp10, pyr_high_5s_seas1, on=['name', 'profile', 'team'], how='left')

season1_plyr_stats = season1_plyr_stats.fillna(0)

season1_plyr_stats.head()

,name,profile,team,matches_played,total_points,success_raids,raid_points,success_tackles,tackle_points,avg_raid_points,avg_tackle_points,dod_raid_points,super_raids,super_tackles,super_10s,high_5s
0,Pawan Kumar Sehrawat,Raider,bengaluru-bulls,19,256,187,242,13,14,12.74,0.74,14,6,1,13,0
1,Pardeep Narwal,Raider,patna-pirates,19,243,190,243,0,0,12.79,0,38,12,0,13,0
2,Naveen Kumar,Raider,dabang-delhi-kc,19,243,201,241,2,2,12.68,0.11,30,2,0,18,0
3,Maninder Singh,Raider,bengal-warriors,19,192,161,192,0,0,10.11,0,24,6,0,9,0
4,Siddharth Sirish Desai,Raider,telugu-titans,18,177,143,174,3,3,9.67,0.17,22,6,0,7,0

In [272]:
outfile = open('data/season7_player_stats.csv', mode='w')
season1_plyr_stats.to_csv('data/season7_player_stats.csv', mode='w', index = False, header=True)
outfile.close()

### Team Stats

Getting the Team Stats<br>
First we will get the Total Points secured by Each Team

In [273]:
driver.get('https://www.prokabaddi.com/stats/49-96-total-points-scored-statistics')

In [274]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [275]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
matches_played = []
total_points = []

for item in team:
    
    #Fetching the Team
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    #Fetching the Matches Played by Team
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm2)
    
    #Fetching the Total Points scored by a Team
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm3)

#print(team_names)
#print(matches_played)
#print(total_points)

In [276]:
team_tot_points_seas1 = pd.DataFrame({'team_name':team_names, 'matches_played':matches_played
                                      , 'total_points_scored':total_points})

team_tot_points_seas1.head()

          team_name matches_played total_points_scored
0   dabang-delhi-kc             19                 709
1   bengal-warriors             19                 676
2   bengaluru-bulls             19                 656
3     puneri-paltan             20                 652
4  haryana-steelers             19                 650

Total Points Conceded

In [277]:
driver.get('https://www.prokabaddi.com/stats/49-133-total-points-conceded-statistics')

In [278]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [279]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
total_points_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points_conceded.append(itm3)

#print(team_names)
#print(total_points_conceded)

In [280]:
team_tot_points_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'total_points_conceded':total_points_conceded})

#team_tot_points_conceded_seas1.head()

Average Points Scored

In [281]:
driver.get('https://www.prokabaddi.com/stats/49-140-avg-points-scored-statistics')

In [282]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [283]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
avg_points_scored = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_points_scored.append(itm3)

print(team_names)
print(avg_points_scored)

['dabang-delhi-kc', 'bengaluru-bulls', 'bengal-warriors', 'haryana-steelers', 'puneri-paltan', 'patna-pirates', 'telugu-titans', 'jaipur-pink-panthers', 'up-yoddha', 'u-mumba', 'gujarat-fortunegiants', 'tamil-thalaivas']
['31.31', '30.73', '30.63', '30.1', '29.5', '29.42', '28.55', '27.8', '26.72', '26.66', '26.15', '25.68']

In [284]:
team_avg_points_scored_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_points':avg_points_scored})
team_avg_points_scored_seas1.head()

          team_name team_avg_points
0   dabang-delhi-kc           31.31
1   bengaluru-bulls           30.73
2   bengal-warriors           30.63
3  haryana-steelers            30.1
4     puneri-paltan            29.5

Successful Raids

In [285]:
driver.get('https://www.prokabaddi.com/stats/49-13-successful-raids-statistics')

In [286]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [287]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_raids.append(itm3)

print(team_names)
print(team_success_raids)

['dabang-delhi-kc', 'bengal-warriors', 'bengaluru-bulls', 'patna-pirates', 'puneri-paltan', 'haryana-steelers', 'telugu-titans', 'gujarat-fortunegiants', 'jaipur-pink-panthers', 'tamil-thalaivas', 'u-mumba', 'up-yoddha']
['340', '318', '309', '291', '290', '290', '273', '265', '261', '259', '238', '223']

In [288]:
team_success_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_raids':team_success_raids})
team_success_raids_seas1.head()

         team_name team_success_raids
0  dabang-delhi-kc                340
1  bengal-warriors                318
2  bengaluru-bulls                309
3    patna-pirates                291
4    puneri-paltan                290

Raid Points

In [289]:
driver.get('https://www.prokabaddi.com/stats/49-97-raid-points-statistics')

In [290]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [291]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_raid_points.append(itm3)

print(team_names)
print(team_raid_points)

['dabang-delhi-kc', 'bengal-warriors', 'bengaluru-bulls', 'haryana-steelers', 'patna-pirates', 'puneri-paltan', 'jaipur-pink-panthers', 'telugu-titans', 'tamil-thalaivas', 'gujarat-fortunegiants', 'u-mumba', 'up-yoddha']
['414', '398', '393', '377', '368', '358', '337', '332', '326', '320', '304', '289']

In [292]:
team_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_raid_points':team_raid_points})
team_raid_points_seas1.head()

          team_name team_raid_points
0   dabang-delhi-kc              414
1   bengal-warriors              398
2   bengaluru-bulls              393
3  haryana-steelers              377
4     patna-pirates              368

Average Raid Points

In [293]:
driver.get('https://www.prokabaddi.com/stats/49-98-avg-raid-points-statistics')

In [294]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [295]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_raid_points.append(itm3)

print(team_names)
print(team_avg_raid_points)

['dabang-delhi-kc', 'bengal-warriors', 'bengaluru-bulls', 'haryana-steelers', 'patna-pirates', 'telugu-titans', 'puneri-paltan', 'tamil-thalaivas', 'u-mumba', 'jaipur-pink-panthers', 'up-yoddha', 'gujarat-fortunegiants']
['21.79', '20.95', '20.68', '19.84', '19.37', '18.44', '17.9', '17.16', '16.89', '16.85', '16.06', '16']

In [296]:
team_avg_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_raid_points':team_avg_raid_points})
team_avg_raid_points_seas1.head()

          team_name team_avg_raid_points
0   dabang-delhi-kc                21.79
1   bengal-warriors                20.95
2   bengaluru-bulls                20.68
3  haryana-steelers                19.84
4     patna-pirates                19.37

Successful Tackles

In [297]:
driver.get('https://www.prokabaddi.com/stats/49-15-successful-tackles-statistics')

In [298]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [299]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_tackles.append(itm3)

print(team_names)
print(team_success_tackles)

['puneri-paltan', 'jaipur-pink-panthers', 'gujarat-fortunegiants', 'haryana-steelers', 'up-yoddha', 'dabang-delhi-kc', 'bengal-warriors', 'bengaluru-bulls', 'patna-pirates', 'u-mumba', 'telugu-titans', 'tamil-thalaivas']
['207', '189', '187', '181', '177', '175', '174', '168', '168', '162', '162', '151']

In [300]:
team_success_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_tackles':team_success_tackles})
team_success_tackles_seas1.head()

               team_name team_success_tackles
0          puneri-paltan                  207
1   jaipur-pink-panthers                  189
2  gujarat-fortunegiants                  187
3       haryana-steelers                  181
4              up-yoddha                  177

Tackle Points

In [301]:
driver.get('https://www.prokabaddi.com/stats/49-95-tackle-points-statistics')

In [302]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [303]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_tackle_points.append(itm3)

print(team_names)
print(team_tackle_points)

['puneri-paltan', 'jaipur-pink-panthers', 'gujarat-fortunegiants', 'haryana-steelers', 'up-yoddha', 'patna-pirates', 'bengaluru-bulls', 'bengal-warriors', 'telugu-titans', 'dabang-delhi-kc', 'u-mumba', 'tamil-thalaivas']
['232', '219', '203', '195', '192', '191', '191', '184', '182', '181', '176', '162']

In [304]:
team_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_tackle_points':team_tackle_points})
team_tackle_points_seas1.head()

               team_name team_tackle_points
0          puneri-paltan                232
1   jaipur-pink-panthers                219
2  gujarat-fortunegiants                203
3       haryana-steelers                195
4              up-yoddha                192

Average Tackle Points

In [305]:
driver.get('https://www.prokabaddi.com/stats/49-99-avg-tackle-points-statistics')

In [306]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [307]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_tackle_points.append(itm3)

print(team_names)
print(team_avg_tackle_points)

['puneri-paltan', 'jaipur-pink-panthers', 'up-yoddha', 'haryana-steelers', 'gujarat-fortunegiants', 'telugu-titans', 'patna-pirates', 'bengaluru-bulls', 'u-mumba', 'bengal-warriors', 'dabang-delhi-kc', 'tamil-thalaivas']
['11.6', '10.95', '10.67', '10.26', '10.15', '10.11', '10.05', '10.05', '9.78', '9.68', '9.53', '8.53']

In [308]:
team_avg_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_tackle_points':team_avg_tackle_points})
team_avg_tackle_points_seas1.head()

               team_name team_avg_tackle_points
0          puneri-paltan                   11.6
1   jaipur-pink-panthers                  10.95
2              up-yoddha                  10.67
3       haryana-steelers                  10.26
4  gujarat-fortunegiants                  10.15

Super Raids

In [309]:
driver.get('https://www.prokabaddi.com/stats/49-134-super-raid-statistics')

In [310]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [311]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_raids.append(itm3)

print(team_names)
print(team_super_raids)

['bengal-warriors', 'haryana-steelers', 'patna-pirates', 'telugu-titans', 'bengaluru-bulls', 'dabang-delhi-kc', 'jaipur-pink-panthers', 'u-mumba', 'puneri-paltan', 'up-yoddha', 'gujarat-fortunegiants', 'tamil-thalaivas']
['15', '14', '13', '9', '8', '8', '7', '7', '6', '5', '5', '4']

In [312]:
team_super_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_raids':team_super_raids})
team_super_raids_seas1.head()

          team_name team_super_raids
0   bengal-warriors               15
1  haryana-steelers               14
2     patna-pirates               13
3     telugu-titans                9
4   bengaluru-bulls                8

Super Tackles

In [313]:
driver.get('https://www.prokabaddi.com/stats/49-20-super-tackles-statistics')

In [314]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [315]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_tackles.append(itm3)

print(team_names)
print(team_super_tackles)

['jaipur-pink-panthers', 'bengaluru-bulls', 'puneri-paltan', 'patna-pirates', 'telugu-titans', 'gujarat-fortunegiants', 'up-yoddha', 'u-mumba', 'haryana-steelers', 'tamil-thalaivas', 'bengal-warriors', 'dabang-delhi-kc']
['32', '25', '25', '23', '21', '17', '16', '16', '14', '13', '12', '8']

In [316]:
team_super_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_tackles':team_super_tackles})
team_super_tackles_seas1.head()

              team_name team_super_tackles
0  jaipur-pink-panthers                 32
1       bengaluru-bulls                 25
2         puneri-paltan                 25
3         patna-pirates                 23
4         telugu-titans                 21

Do Or Die Raid Points

In [317]:
driver.get('https://www.prokabaddi.com/stats/49-135-do-or-die-raid-points-statistics')

In [318]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [319]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_dod_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_dod_raid_points.append(itm3)

print(team_names)
print(team_dod_raid_points)

['jaipur-pink-panthers', 'haryana-steelers', 'up-yoddha', 'patna-pirates', 'u-mumba', 'puneri-paltan', 'gujarat-fortunegiants', 'tamil-thalaivas', 'bengal-warriors', 'dabang-delhi-kc', 'telugu-titans', 'bengaluru-bulls']
['73', '71', '71', '69', '66', '60', '59', '52', '51', '47', '44', '42']

In [320]:
team_dod_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_dod_raid_points':team_dod_raid_points})
team_dod_raid_points_seas1.head()

              team_name team_dod_raid_points
0  jaipur-pink-panthers                   73
1      haryana-steelers                   71
2             up-yoddha                   71
3         patna-pirates                   69
4               u-mumba                   66

All-Outs Inflicted

In [321]:
driver.get('https://www.prokabaddi.com/stats/49-136-all-outs-inflicted-statistics')

In [322]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [323]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_inflicted = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_inflicted.append(itm3)

print(team_names)
print(team_allouts_inflicted)

['dabang-delhi-kc', 'bengal-warriors', 'patna-pirates', 'haryana-steelers', 'u-mumba', 'up-yoddha', 'gujarat-fortunegiants', 'bengaluru-bulls', 'jaipur-pink-panthers', 'puneri-paltan', 'telugu-titans', 'tamil-thalaivas']
['33', '31', '28', '27', '25', '21', '21', '21', '19', '18', '13', '13']

In [324]:
team_allouts_inflicted_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_inflicted':team_allouts_inflicted})
team_allouts_inflicted_seas1.head()

          team_name team_allouts_inflicted
0   dabang-delhi-kc                     33
1   bengal-warriors                     31
2     patna-pirates                     28
3  haryana-steelers                     27
4           u-mumba                     25

All-Outs Conceded

In [325]:
driver.get('https://www.prokabaddi.com/stats/49-137-all-outs-conceded-statistics')

In [326]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [327]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_conceded.append(itm3)

print(team_names)
print(team_allouts_conceded)

['puneri-paltan', 'tamil-thalaivas', 'bengaluru-bulls', 'jaipur-pink-panthers', 'patna-pirates', 'telugu-titans', 'up-yoddha', 'gujarat-fortunegiants', 'haryana-steelers', 'u-mumba', 'bengal-warriors', 'dabang-delhi-kc']
['33', '29', '24', '23', '23', '22', '22', '22', '21', '20', '16', '15']

In [328]:
team_allouts_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_conceded':team_allouts_conceded})
team_allouts_conceded_seas1.head()

              team_name team_allouts_conceded
0         puneri-paltan                    33
1       tamil-thalaivas                    29
2       bengaluru-bulls                    24
3  jaipur-pink-panthers                    23
4         patna-pirates                    23

##### Merge Team Stats into a master frame

In [329]:
temp1 = pd.merge(team_tot_points_seas1, team_tot_points_conceded_seas1, on='team_name', how='left')
temp2 = pd.merge(temp1, team_avg_points_scored_seas1, on='team_name', how='left')
temp3 = pd.merge(temp2, team_success_raids_seas1, on='team_name', how='left')
temp4 = pd.merge(temp3, team_raid_points_seas1, on='team_name', how='left')
temp5 = pd.merge(temp4, team_avg_raid_points_seas1, on='team_name', how='left')
temp6 = pd.merge(temp5, team_success_tackles_seas1, on='team_name', how='left')
temp7 = pd.merge(temp6, team_tackle_points_seas1, on='team_name', how='left')
temp8 = pd.merge(temp7, team_avg_tackle_points_seas1, on='team_name', how='left')
temp9 = pd.merge(temp8, team_super_raids_seas1, on='team_name', how='left')
temp10 = pd.merge(temp9, team_super_tackles_seas1, on='team_name', how='left')
temp11 = pd.merge(temp10, team_dod_raid_points_seas1, on='team_name', how='left')
temp12 = pd.merge(temp11, team_allouts_inflicted_seas1, on='team_name', how='left')
season1_team_stats = pd.merge(temp12, team_allouts_conceded_seas1, on='team_name', how='left')

season1_team_stats = season1_team_stats.fillna(0)

season1_team_stats.head()

,team_name,matches_played,total_points_scored,total_points_conceded,team_avg_points,team_success_raids,team_raid_points,team_avg_raid_points,team_success_tackles,team_tackle_points,team_avg_tackle_points,team_super_raids,team_super_tackles,team_dod_raid_points,team_allouts_inflicted,team_allouts_conceded
0,dabang-delhi-kc,19,709,617,31.31,340,414,21.79,175,181,9.53,8,8,47,33,15
1,bengal-warriors,19,676,590,30.63,318,398,20.95,174,184,9.68,15,12,51,31,16
2,bengaluru-bulls,19,656,644,30.73,309,393,20.68,168,191,10.05,8,25,42,21,24
3,puneri-paltan,20,652,723,29.5,290,358,17.9,207,232,11.6,6,25,60,18,33
4,haryana-steelers,19,650,626,30.1,290,377,19.84,181,195,10.26,14,14,71,27,21

In [330]:
outfile = open('data/season7_team_stats.csv', mode='w')
season1_team_stats.to_csv('data/season7_team_stats.csv', mode='w', index = False, header=True)
outfile.close()