In [8]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time

Download the Chrome Webdriver from https://sites.google.com/a/chromium.org/chromedriver/downloads (make sure you download the same Chrome version driver)

And place the file at notebook location

In [9]:
driver = webdriver.Chrome(executable_path='chromedriver.exe')

Getting the Player Stats<br>
First we will get the Total Points secured by Each player

In [10]:
driver.get('https://www.prokabaddi.com/stats/3-102-total-points-statistics')

Wait for above cell to execute

In [11]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [12]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
player_profile = []
player_team = []
matches_played = []
total_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm2 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm2)
    else:
        player_profile.append('')
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Matches Played by Player
    itm4 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm4)
    
    #Fetching the Total Points scored by a Player
    itm5 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm5)

#print(player_names)
#print(player_profile)
#print(player_team)
#print(matches_played)
#print(total_points)

In [13]:
pyr_tot_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team
                                     , 'matches_played':matches_played, 'total_points':total_points})

#pyr_tot_points_seas1.head()

Get Successful raids

In [14]:
driver.get('https://www.prokabaddi.com/stats/3-21-successful-raids-statistics')

Wait for above cell to execute

In [15]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [16]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_raids = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_raids.append(itm2)

#print(player_names)
#print(success_raids)

In [17]:
pyr_success_raids_seas1 = pd.DataFrame({'name':player_names, 'success_raids':success_raids})

#pyr_success_raids_seas1.head()

Get Raid Points

In [18]:
driver.get('https://www.prokabaddi.com/stats/3-22-raid-points-statistics')

Wait for above cell to execute

In [19]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [20]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    raid_points.append(itm2)

#print(player_names)
#print(raid_points)

In [21]:
pyr_raid_points_seas1 = pd.DataFrame({'name':player_names, 'raid_points':raid_points})

#pyr_raid_points_seas1.head()

Get Successful Tackles

In [22]:
driver.get('https://www.prokabaddi.com/stats/3-23-successful-tackles-statistics')

Wait for above cell to execute

In [23]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [24]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_tackles = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_tackles.append(itm2)

#print(player_names)
#print(success_tackles)

In [25]:
pyr_success_tackles_seas1 = pd.DataFrame({'name':player_names, 'success_tackles':success_tackles})

#pyr_success_tackles_seas1.head()

Get Tackle Points

In [26]:
driver.get('https://www.prokabaddi.com/stats/3-103-tackle-points-statistics')

Wait for above cell to execute

In [27]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [28]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
tackle_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    tackle_points.append(itm2)

#print(player_names)
#print(tackle_points)

In [29]:
pyr_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'tackle_points':tackle_points})

#pyr_tackle_points_seas1.head()

Get Average Raid Points

In [30]:
driver.get('https://www.prokabaddi.com/stats/3-138-avg-raid-points-statistics')

Wait for above cell to execute

In [31]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [32]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_raid_points.append(itm2)

#print(player_names)
#print(avg_raid_points)

In [33]:
pyr_avg_raid_points_seas1 = pd.DataFrame({'name':player_names, 'avg_raid_points':avg_raid_points})

#pyr_avg_raid_points_seas1.head()

Get Average Tackle Points

In [34]:
driver.get('https://www.prokabaddi.com/stats/3-139-avg-tackle-points-statistics')

Wait for above cell to execute

In [35]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [36]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_tackle_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_tackle_points.append(itm2)

#print(player_names)
#print(avg_tackle_points)

In [37]:
pyr_avg_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'avg_tackle_points':avg_tackle_points})

#pyr_avg_tackle_points_seas1.head()

Get Do Or Die Raid Points

In [38]:
driver.get('https://www.prokabaddi.com/stats/3-132-do-or-die-raid-points-statistics')

Wait for above cell to execute

In [39]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [40]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
dod_raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    dod_raid_points.append(itm2)

#print(player_names)
#print(dod_raid_points)

In [41]:
pyr_dod_raid_points_seas1 = pd.DataFrame({'name':player_names, 'dod_raid_points':dod_raid_points})

#pyr_dod_raid_points_seas1.head()

Get Super Raids

In [42]:
driver.get('https://www.prokabaddi.com/stats/3-104-super-raids-statistics')

Wait for above cell to execute

In [43]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [44]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_raids = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_raids.append(itm2)

#print(player_names)
#print(super_raids)

In [45]:
pyr_super_raids_seas1 = pd.DataFrame({'name':player_names, 'super_raids':super_raids})

#pyr_super_raids_seas1.head()

Get Super Tackles

In [46]:
driver.get('https://www.prokabaddi.com/stats/3-28-super-tackles-statistics')

Wait for above cell to execute

In [47]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [48]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_tackles = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_tackles.append(itm2)

#print(player_names)
#print(super_tackles)

In [49]:
pyr_super_tackles_seas1 = pd.DataFrame({'name':player_names, 'super_tackles':super_tackles})

#pyr_super_tackles_seas1.head()

Get Super 10s

In [50]:
driver.get('https://www.prokabaddi.com/stats/3-100-super-10s-statistics')

Wait for above cell to execute

In [51]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [52]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_10s = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_10s.append(itm2)

#print(player_names)
#print(super_10s)

In [53]:
pyr_super_10s_seas1 = pd.DataFrame({'name':player_names, 'super_10s':super_10s})

#pyr_super_10s_seas1.head()

Get High 5s

In [54]:
driver.get('https://www.prokabaddi.com/stats/3-101-high-5s-statistics')

Wait for above cell to execute

In [55]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [56]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
high_5s = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    high_5s.append(itm2)

#print(player_names)
#print(high_5s)

In [57]:
pyr_high_5s_seas1 = pd.DataFrame({'name':player_names, 'high_5s':high_5s})

#pyr_high_5s_seas1.head()

Merge Player Stats into a master frame

In [58]:
temp1 = pd.merge(pyr_tot_points_seas1, pyr_success_raids_seas1, on='name', how='left')
temp2 = pd.merge(temp1, pyr_raid_points_seas1, on='name', how='left')
temp3 = pd.merge(temp2, pyr_success_tackles_seas1, on='name', how='left')
temp4 = pd.merge(temp3, pyr_tackle_points_seas1, on='name', how='left')
temp5 = pd.merge(temp4, pyr_avg_raid_points_seas1, on='name', how='left')
temp6 = pd.merge(temp5, pyr_avg_tackle_points_seas1, on='name', how='left')
temp7 = pd.merge(temp6, pyr_dod_raid_points_seas1, on='name', how='left')
temp8 = pd.merge(temp7, pyr_super_raids_seas1, on='name', how='left')
temp9 = pd.merge(temp8, pyr_super_tackles_seas1, on='name', how='left')
temp10 = pd.merge(temp9, pyr_super_10s_seas1, on='name', how='left')
season1_plyr_stats = pd.merge(temp10, pyr_high_5s_seas1, on='name', how='left')

season1_plyr_stats = season1_plyr_stats.fillna(0)

season1_plyr_stats.head()

,name,profile,team,matches_played,total_points,success_raids,raid_points,success_tackles,tackle_points,avg_raid_points,avg_tackle_points,dod_raid_points,super_raids,super_tackles,super_10s,high_5s
0,Pardeep Narwal,Raider,patna-pirates,16,121,83,116,5,5,7.73,0.31,25,10,0,5,0
1,Rishank Devadiga,Raider,u-mumba,16,115,86,106,8,9,6.63,0.56,29,4,1,2,0
2,Rohit Kumar,Raider,patna-pirates,12,109,80,102,7,7,9.27,0.58,20,4,0,5,0
3,Manjeet Chhillar,All Rounder,puneri-paltan,15,106,37,45,56,61,3,4.07,6,2,5,0,5
4,Rahul Chaudhari,Raider,telugu-titans,13,99,77,87,10,12,6.69,0.92,9,1,2,4,0

In [59]:
outfile = open('data/season3_player_stats.csv', mode='w')
season1_plyr_stats.to_csv('data/season3_player_stats.csv', mode='w', index = False, header=True)
outfile.close()

### Team Stats

Getting the Team Stats<br>
First we will get the Total Points secured by Each Team

In [60]:
driver.get('https://www.prokabaddi.com/stats/3-96-total-points-scored-statistics')
time.sleep(5)

In [61]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
matches_played = []
total_points = []

for item in team:
    
    #Fetching the Team
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    #Fetching the Matches Played by Team
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm2)
    
    #Fetching the Total Points scored by a Team
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm3)

#print(team_names)
#print(matches_played)
#print(total_points)

In [62]:
team_tot_points_seas1 = pd.DataFrame({'team_name':team_names, 'matches_played':matches_played
                                      , 'total_points_scored':total_points})

team_tot_points_seas1.head()

         team_name matches_played total_points_scored
0    patna-pirates             16                 594
1    puneri-paltan             16                 510
2          u-mumba             16                 502
3  bengal-warriors             16                 460
4    telugu-titans             14                 427

Total Points Conceded

In [63]:
driver.get('https://www.prokabaddi.com/stats/3-133-total-points-conceded-statistics')
time.sleep(5)

In [64]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
total_points_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points_conceded.append(itm3)

#print(team_names)
#print(total_points_conceded)

In [65]:
team_tot_points_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'total_points_conceded':total_points_conceded})

#team_tot_points_conceded_seas1.head()

Average Points Scored

In [66]:
driver.get('https://www.prokabaddi.com/stats/3-140-avg-points-scored-statistics')
time.sleep(5)

In [67]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
avg_points_scored = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_points_scored.append(itm3)

print(team_names)
print(avg_points_scored)

['patna-pirates', 'puneri-paltan', 'telugu-titans', 'u-mumba', 'bengal-warriors', 'dabang-delhi-kc', 'jaipur-pink-panthers', 'bengaluru-bulls']
['31.62', '27.37', '26.42', '26.37', '25', '24.57', '22.14', '22.07']

In [68]:
team_avg_points_scored_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_points':avg_points_scored})
team_avg_points_scored_seas1.head()

         team_name team_avg_points
0    patna-pirates           31.62
1    puneri-paltan           27.37
2    telugu-titans           26.42
3          u-mumba           26.37
4  bengal-warriors              25

Successful Raids

In [69]:
driver.get('https://www.prokabaddi.com/stats/3-13-successful-raids-statistics')
time.sleep(5)

In [70]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_raids.append(itm3)

print(team_names)
print(team_success_raids)

['patna-pirates', 'bengal-warriors', 'u-mumba', 'telugu-titans', 'puneri-paltan', 'dabang-delhi-kc', 'bengaluru-bulls', 'jaipur-pink-panthers']
['241', '213', '206', '206', '203', '171', '158', '149']

In [71]:
team_success_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_raids':team_success_raids})
team_success_raids_seas1.head()

         team_name team_success_raids
0    patna-pirates                241
1  bengal-warriors                213
2          u-mumba                206
3    telugu-titans                206
4    puneri-paltan                203

Raid Points

In [72]:
driver.get('https://www.prokabaddi.com/stats/3-97-raid-points-statistics')
time.sleep(5)

In [73]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_raid_points.append(itm3)

print(team_names)
print(team_raid_points)

['patna-pirates', 'telugu-titans', 'u-mumba', 'puneri-paltan', 'bengal-warriors', 'dabang-delhi-kc', 'bengaluru-bulls', 'jaipur-pink-panthers']
['324', '254', '253', '251', '250', '233', '209', '193']

In [74]:
team_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_raid_points':team_raid_points})
team_raid_points_seas1.head()

         team_name team_raid_points
0    patna-pirates              324
1    telugu-titans              254
2          u-mumba              253
3    puneri-paltan              251
4  bengal-warriors              250

Average Raid Points

In [75]:
driver.get('https://www.prokabaddi.com/stats/3-98-avg-raid-points-statistics')
time.sleep(5)

In [76]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_raid_points.append(itm3)

print(team_names)
print(team_avg_raid_points)

['patna-pirates', 'telugu-titans', 'dabang-delhi-kc', 'u-mumba', 'puneri-paltan', 'bengal-warriors', 'bengaluru-bulls', 'jaipur-pink-panthers']
['20.25', '18.14', '16.64', '15.81', '15.69', '15.63', '14.93', '13.79']

In [77]:
team_avg_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_raid_points':team_avg_raid_points})
team_avg_raid_points_seas1.head()

         team_name team_avg_raid_points
0    patna-pirates                20.25
1    telugu-titans                18.14
2  dabang-delhi-kc                16.64
3          u-mumba                15.81
4    puneri-paltan                15.69

Successful Tackles

In [78]:
driver.get('https://www.prokabaddi.com/stats/3-15-successful-tackles-statistics')
time.sleep(5)

In [79]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_tackles.append(itm3)

print(team_names)
print(team_success_tackles)

['patna-pirates', 'puneri-paltan', 'u-mumba', 'bengal-warriors', 'jaipur-pink-panthers', 'telugu-titans', 'dabang-delhi-kc', 'bengaluru-bulls']
['175', '174', '163', '137', '101', '101', '98', '94']

In [80]:
team_success_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_tackles':team_success_tackles})
team_success_tackles_seas1.head()

              team_name team_success_tackles
0         patna-pirates                  175
1         puneri-paltan                  174
2               u-mumba                  163
3       bengal-warriors                  137
4  jaipur-pink-panthers                  101

Tackle Points

In [81]:
driver.get('https://www.prokabaddi.com/stats/3-95-tackle-points-statistics')
time.sleep(5)

In [82]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_tackle_points.append(itm3)

print(team_names)
print(team_tackle_points)

['puneri-paltan', 'patna-pirates', 'u-mumba', 'bengal-warriors', 'jaipur-pink-panthers', 'telugu-titans', 'dabang-delhi-kc', 'bengaluru-bulls']
['187', '182', '169', '150', '117', '116', '111', '100']

In [83]:
team_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_tackle_points':team_tackle_points})
team_tackle_points_seas1.head()

              team_name team_tackle_points
0         puneri-paltan                187
1         patna-pirates                182
2               u-mumba                169
3       bengal-warriors                150
4  jaipur-pink-panthers                117

Average Tackle Points

In [84]:
driver.get('https://www.prokabaddi.com/stats/3-99-avg-tackle-points-statistics')
time.sleep(5)

In [85]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_tackle_points.append(itm3)

print(team_names)
print(team_avg_tackle_points)

['puneri-paltan', 'patna-pirates', 'u-mumba', 'bengal-warriors', 'jaipur-pink-panthers', 'telugu-titans', 'dabang-delhi-kc', 'bengaluru-bulls']
['11.69', '11.38', '10.56', '9.38', '8.36', '8.29', '7.93', '7.14']

In [86]:
team_avg_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_tackle_points':team_avg_tackle_points})
team_avg_tackle_points_seas1.head()

              team_name team_avg_tackle_points
0         puneri-paltan                  11.69
1         patna-pirates                  11.38
2               u-mumba                  10.56
3       bengal-warriors                   9.38
4  jaipur-pink-panthers                   8.36

Super Raids

In [87]:
driver.get('https://www.prokabaddi.com/stats/3-134-super-raid-statistics')
time.sleep(5)

In [88]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_raids.append(itm3)

print(team_names)
print(team_super_raids)

['patna-pirates', 'puneri-paltan', 'bengaluru-bulls', 'jaipur-pink-panthers', 'u-mumba', 'dabang-delhi-kc', 'bengal-warriors', 'telugu-titans']
['16', '9', '9', '8', '7', '5', '4', '3']

In [89]:
team_super_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_raids':team_super_raids})
team_super_raids_seas1.head()

              team_name team_super_raids
0         patna-pirates               16
1         puneri-paltan                9
2       bengaluru-bulls                9
3  jaipur-pink-panthers                8
4               u-mumba                7

Super Tackles

In [90]:
driver.get('https://www.prokabaddi.com/stats/3-20-super-tackles-statistics')
time.sleep(5)

In [91]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_tackles.append(itm3)

print(team_names)
print(team_super_tackles)

['jaipur-pink-panthers', 'telugu-titans', 'puneri-paltan', 'bengal-warriors', 'dabang-delhi-kc', 'bengaluru-bulls', 'patna-pirates', 'u-mumba']
['16', '15', '13', '13', '13', '7', '7', '6']

In [92]:
team_super_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_tackles':team_super_tackles})
team_super_tackles_seas1.head()

              team_name team_super_tackles
0  jaipur-pink-panthers                 16
1         telugu-titans                 15
2         puneri-paltan                 13
3       bengal-warriors                 13
4       dabang-delhi-kc                 13

Do Or Die Raid Points

In [93]:
driver.get('https://www.prokabaddi.com/stats/3-135-do-or-die-raid-points-statistics')
time.sleep(5)

In [94]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_dod_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_dod_raid_points.append(itm3)

print(team_names)
print(team_dod_raid_points)

['puneri-paltan', 'patna-pirates', 'bengal-warriors', 'bengaluru-bulls', 'u-mumba', 'jaipur-pink-panthers', 'dabang-delhi-kc', 'telugu-titans']
['87', '74', '70', '69', '59', '59', '54', '44']

In [95]:
team_dod_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_dod_raid_points':team_dod_raid_points})
team_dod_raid_points_seas1.head()

         team_name team_dod_raid_points
0    puneri-paltan                   87
1    patna-pirates                   74
2  bengal-warriors                   70
3  bengaluru-bulls                   69
4          u-mumba                   59

All-Outs Inflicted

In [96]:
driver.get('https://www.prokabaddi.com/stats/3-136-all-outs-inflicted-statistics')
time.sleep(5)

In [97]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_inflicted = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_inflicted.append(itm3)

print(team_names)
print(team_allouts_inflicted)

['patna-pirates', 'u-mumba', 'puneri-paltan', 'bengal-warriors', 'telugu-titans', 'bengaluru-bulls', 'jaipur-pink-panthers', 'dabang-delhi-kc']
['30', '27', '25', '17', '13', '12', '11', '9']

In [98]:
team_allouts_inflicted_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_inflicted':team_allouts_inflicted})
team_allouts_inflicted_seas1.head()

         team_name team_allouts_inflicted
0    patna-pirates                     30
1          u-mumba                     27
2    puneri-paltan                     25
3  bengal-warriors                     17
4    telugu-titans                     13

All-Outs Conceded

In [99]:
driver.get('https://www.prokabaddi.com/stats/3-137-all-outs-conceded-statistics')
time.sleep(5)

In [100]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_conceded.append(itm3)

print(team_names)
print(team_allouts_conceded)

['dabang-delhi-kc', 'jaipur-pink-panthers', 'bengaluru-bulls', 'bengal-warriors', 'telugu-titans', 'patna-pirates', 'puneri-paltan', 'u-mumba']
['28', '22', '21', '18', '17', '13', '13', '12']

In [101]:
team_allouts_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_conceded':team_allouts_conceded})
team_allouts_conceded_seas1.head()

              team_name team_allouts_conceded
0       dabang-delhi-kc                    28
1  jaipur-pink-panthers                    22
2       bengaluru-bulls                    21
3       bengal-warriors                    18
4         telugu-titans                    17

##### Merge Team Stats into a master frame

In [102]:
temp1 = pd.merge(team_tot_points_seas1, team_tot_points_conceded_seas1, on='team_name', how='left')
temp2 = pd.merge(temp1, team_avg_points_scored_seas1, on='team_name', how='left')
temp3 = pd.merge(temp2, team_success_raids_seas1, on='team_name', how='left')
temp4 = pd.merge(temp3, team_raid_points_seas1, on='team_name', how='left')
temp5 = pd.merge(temp4, team_avg_raid_points_seas1, on='team_name', how='left')
temp6 = pd.merge(temp5, team_success_tackles_seas1, on='team_name', how='left')
temp7 = pd.merge(temp6, team_tackle_points_seas1, on='team_name', how='left')
temp8 = pd.merge(temp7, team_avg_tackle_points_seas1, on='team_name', how='left')
temp9 = pd.merge(temp8, team_super_raids_seas1, on='team_name', how='left')
temp10 = pd.merge(temp9, team_super_tackles_seas1, on='team_name', how='left')
temp11 = pd.merge(temp10, team_dod_raid_points_seas1, on='team_name', how='left')
temp12 = pd.merge(temp11, team_allouts_inflicted_seas1, on='team_name', how='left')
season1_team_stats = pd.merge(temp12, team_allouts_conceded_seas1, on='team_name', how='left')

season1_team_stats = season1_team_stats.fillna(0)

season1_team_stats

,team_name,matches_played,total_points_scored,total_points_conceded,team_avg_points,team_success_raids,team_raid_points,team_avg_raid_points,team_success_tackles,team_tackle_points,team_avg_tackle_points,team_super_raids,team_super_tackles,team_dod_raid_points,team_allouts_inflicted,team_allouts_conceded
0,patna-pirates,16,594,468,31.62,241,324,20.25,175,182,11.38,16,7,74,30,13
1,puneri-paltan,16,510,433,27.37,203,251,15.69,174,187,11.69,9,13,87,25,13
2,u-mumba,16,502,397,26.37,206,253,15.81,163,169,10.56,7,6,59,27,12
3,bengal-warriors,16,460,449,25,213,250,15.63,137,150,9.38,4,13,70,17,18
4,telugu-titans,14,427,437,26.42,206,254,18.14,101,116,8.29,3,15,44,13,17
5,dabang-delhi-kc,14,384,525,24.57,171,233,16.64,98,111,7.93,5,13,54,9,28
6,jaipur-pink-panthers,14,364,427,22.14,149,193,13.79,101,117,8.36,8,16,59,11,22
7,bengaluru-bulls,14,362,467,22.07,158,209,14.93,94,100,7.14,9,7,69,12,21

In [103]:
outfile = open('data/season3_team_stats.csv', mode='w')
season1_team_stats.to_csv('data/season3_team_stats.csv', mode='w', index = False, header=True)
outfile.close()