In [373]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time

Download the Chrome Webdriver from https://sites.google.com/a/chromium.org/chromedriver/downloads (make sure you download the same Chrome version driver)

And place the file at notebook location

In [374]:
driver = webdriver.Chrome(executable_path='chromedriver.exe')

Getting the Player Stats<br>
First we will get the Total Points secured by Each player

In [375]:
driver.get('https://www.prokabaddi.com/stats/8-102-total-points-statistics')

Wait for above cell to execute

In [376]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [377]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
player_profile = []
player_team = []
matches_played = []
total_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm2 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm2)
    else:
        player_profile.append('')
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Matches Played by Player
    itm4 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm4)
    
    #Fetching the Total Points scored by a Player
    itm5 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm5)

#print(player_names)
#print(player_profile)
#print(player_team)
#print(matches_played)
#print(total_points)

In [378]:
pyr_tot_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team
                                     , 'matches_played':matches_played, 'total_points':total_points})

#pyr_tot_points_seas1.head()

Get Successful raids

In [379]:
driver.get('https://www.prokabaddi.com/stats/8-21-successful-raids-statistics')

Wait for above cell to execute

In [380]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [381]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_raids = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_raids.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(success_raids)

In [382]:
pyr_success_raids_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'success_raids':success_raids})

#pyr_success_raids_seas1.head()

Get Raid Points

In [383]:
driver.get('https://www.prokabaddi.com/stats/8-22-raid-points-statistics')

Wait for above cell to execute

In [384]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [385]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
raid_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    raid_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(raid_points)

In [386]:
pyr_raid_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'raid_points':raid_points})

#pyr_raid_points_seas1.head()

Get Successful Tackles

In [387]:
driver.get('https://www.prokabaddi.com/stats/8-23-successful-tackles-statistics')

Wait for above cell to execute

In [388]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [389]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_tackles = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_tackles.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(success_tackles)

In [390]:
pyr_success_tackles_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'success_tackles':success_tackles})

#pyr_success_tackles_seas1.head()

Get Tackle Points

In [391]:
driver.get('https://www.prokabaddi.com/stats/8-103-tackle-points-statistics')

Wait for above cell to execute

In [392]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [393]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
tackle_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    tackle_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(tackle_points)

In [394]:
pyr_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'tackle_points':tackle_points})

#pyr_tackle_points_seas1.head()

Get Average Raid Points

In [395]:
driver.get('https://www.prokabaddi.com/stats/8-138-avg-raid-points-statistics')

Wait for above cell to execute

In [396]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [397]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_raid_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_raid_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(avg_raid_points)

In [398]:
pyr_avg_raid_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'avg_raid_points':avg_raid_points})

#pyr_avg_raid_points_seas1.head()

Get Average Tackle Points

In [399]:
driver.get('https://www.prokabaddi.com/stats/8-139-avg-tackle-points-statistics')

Wait for above cell to execute

In [400]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [401]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_tackle_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_tackle_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(avg_tackle_points)

In [402]:
pyr_avg_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'avg_tackle_points':avg_tackle_points})

#pyr_avg_tackle_points_seas1.head()

Get Do Or Die Raid Points

In [403]:
driver.get('https://www.prokabaddi.com/stats/8-132-do-or-die-raid-points-statistics')

Wait for above cell to execute

In [404]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [405]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
dod_raid_points = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    dod_raid_points.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(dod_raid_points)

In [406]:
pyr_dod_raid_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'dod_raid_points':dod_raid_points})

#pyr_dod_raid_points_seas1.head()

Get Super Raids

In [407]:
driver.get('https://www.prokabaddi.com/stats/8-104-super-raids-statistics')

Wait for above cell to execute

In [408]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [409]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_raids = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_raids.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(super_raids)

In [410]:
pyr_super_raids_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'super_raids':super_raids})

#pyr_super_raids_seas1.head()

Get Super Tackles

In [411]:
driver.get('https://www.prokabaddi.com/stats/8-28-super-tackles-statistics')

Wait for above cell to execute

In [412]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [413]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_tackles = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_tackles.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(super_tackles)

In [414]:
pyr_super_tackles_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'super_tackles':super_tackles})

#pyr_super_tackles_seas1.head()

Get Super 10s

In [415]:
driver.get('https://www.prokabaddi.com/stats/8-100-super-10s-statistics')

Wait for above cell to execute

In [416]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [417]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_10s = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_10s.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(super_10s)

In [418]:
pyr_super_10s_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'super_10s':super_10s})

#pyr_super_10s_seas1.head()

Get High 5s

In [419]:
driver.get('https://www.prokabaddi.com/stats/8-101-high-5s-statistics')

Wait for above cell to execute

In [420]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [421]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
high_5s = []
player_team = []
player_profile = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    high_5s.append(itm2)
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm4 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm4)
    else:
        player_profile.append('')

#print(player_names)
#print(high_5s)

In [422]:
pyr_high_5s_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team, 'high_5s':high_5s})

#pyr_high_5s_seas1.head()

Merge Player Stats into a master frame

In [423]:
temp1 = pd.merge(pyr_tot_points_seas1, pyr_success_raids_seas1, on=['name', 'profile', 'team'], how='left')
temp2 = pd.merge(temp1, pyr_raid_points_seas1, on=['name', 'profile', 'team'], how='left')
temp3 = pd.merge(temp2, pyr_success_tackles_seas1, on=['name', 'profile', 'team'], how='left')
temp4 = pd.merge(temp3, pyr_tackle_points_seas1, on=['name', 'profile', 'team'], how='left')
temp5 = pd.merge(temp4, pyr_avg_raid_points_seas1, on=['name', 'profile', 'team'], how='left')
temp6 = pd.merge(temp5, pyr_avg_tackle_points_seas1, on=['name', 'profile', 'team'], how='left')
temp7 = pd.merge(temp6, pyr_dod_raid_points_seas1, on=['name', 'profile', 'team'], how='left')
temp8 = pd.merge(temp7, pyr_super_raids_seas1, on=['name', 'profile', 'team'], how='left')
temp9 = pd.merge(temp8, pyr_super_tackles_seas1, on=['name', 'profile', 'team'], how='left')
temp10 = pd.merge(temp9, pyr_super_10s_seas1, on=['name', 'profile', 'profile', 'team'], how='left')
season1_plyr_stats = pd.merge(temp10, pyr_high_5s_seas1, on=['name', 'profile', 'team'], how='left')

season1_plyr_stats = season1_plyr_stats.fillna(0)

season1_plyr_stats.head()

,name,profile,team,matches_played,total_points,success_raids,raid_points,success_tackles,tackle_points,avg_raid_points,avg_tackle_points,dod_raid_points,super_raids,super_tackles,super_10s,high_5s
0,Pardeep Narwal,Raider,patna-pirates,26,369,271,369,0,0,14.19,0,29,18,0,19,0
1,Rohit Kumar,Raider,bengaluru-bulls,22,231,192,219,11,12,9.95,0.55,36,1,1,12,0
2,Ajay Thakur,Raider,tamil-thalaivas,22,222,182,213,9,9,9.68,0.41,30,3,0,12,0
3,Monu Goyat,Raider,patna-pirates,26,202,159,191,10,11,7.35,0.42,45,4,1,9,0
4,Rahul Chaudhari,Raider,telugu-titans,22,193,159,184,9,9,8.36,0.41,28,5,0,8,0

In [424]:
outfile = open('data/season5_player_stats.csv', mode='w')
season1_plyr_stats.to_csv('data/season5_player_stats.csv', mode='w', index = False, header=True)
outfile.close()

### Team Stats

Getting the Team Stats<br>
First we will get the Total Points secured by Each Team

In [425]:
driver.get('https://www.prokabaddi.com/stats/8-96-total-points-scored-statistics')

In [426]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [427]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
matches_played = []
total_points = []

for item in team:
    
    #Fetching the Team
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    #Fetching the Matches Played by Team
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm2)
    
    #Fetching the Total Points scored by a Team
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm3)

#print(team_names)
#print(matches_played)
#print(total_points)

In [428]:
team_tot_points_seas1 = pd.DataFrame({'team_name':team_names, 'matches_played':matches_played
                                      , 'total_points_scored':total_points})

team_tot_points_seas1.head()

               team_name matches_played total_points_scored
0          patna-pirates             26                1050
1  gujarat-fortunegiants             24                 775
2          puneri-paltan             24                 766
3              up-yoddha             23                 762
4        bengal-warriors             24                 749

Total Points Conceded

In [429]:
driver.get('https://www.prokabaddi.com/stats/8-133-total-points-conceded-statistics')

In [430]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [431]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
total_points_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points_conceded.append(itm3)

#print(team_names)
#print(total_points_conceded)

In [432]:
team_tot_points_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'total_points_conceded':total_points_conceded})

#team_tot_points_conceded_seas1.head()

Average Points Scored

In [433]:
driver.get('https://www.prokabaddi.com/stats/8-140-avg-points-scored-statistics')

In [434]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [435]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
avg_points_scored = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_points_scored.append(itm3)

print(team_names)
print(avg_points_scored)

['patna-pirates', 'up-yoddha', 'u-mumba', 'tamil-thalaivas', 'telugu-titans', 'gujarat-fortunegiants', 'haryana-steelers', 'puneri-paltan', 'bengal-warriors', 'bengaluru-bulls', 'jaipur-pink-panthers', 'dabang-delhi-kc']
['34.19', '28.78', '28.22', '27.77', '27.59', '27.45', '27.43', '27.08', '27', '26.95', '23.81', '23.31']

In [436]:
team_avg_points_scored_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_points':avg_points_scored})
team_avg_points_scored_seas1.head()

         team_name team_avg_points
0    patna-pirates           34.19
1        up-yoddha           28.78
2          u-mumba           28.22
3  tamil-thalaivas           27.77
4    telugu-titans           27.59

Successful Raids

In [437]:
driver.get('https://www.prokabaddi.com/stats/8-13-successful-raids-statistics')

In [438]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [439]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_raids.append(itm3)

print(team_names)
print(team_success_raids)

['patna-pirates', 'bengal-warriors', 'up-yoddha', 'tamil-thalaivas', 'bengaluru-bulls', 'gujarat-fortunegiants', 'telugu-titans', 'haryana-steelers', 'u-mumba', 'puneri-paltan', 'jaipur-pink-panthers', 'dabang-delhi-kc']
['487', '379', '358', '351', '336', '335', '332', '327', '322', '304', '288', '283']

In [440]:
team_success_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_raids':team_success_raids})
team_success_raids_seas1.head()

         team_name team_success_raids
0    patna-pirates                487
1  bengal-warriors                379
2        up-yoddha                358
3  tamil-thalaivas                351
4  bengaluru-bulls                336

Raid Points

In [441]:
driver.get('https://www.prokabaddi.com/stats/8-97-raid-points-statistics')

In [442]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [443]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_raid_points.append(itm3)

print(team_names)
print(team_raid_points)

['patna-pirates', 'up-yoddha', 'bengal-warriors', 'u-mumba', 'tamil-thalaivas', 'gujarat-fortunegiants', 'haryana-steelers', 'telugu-titans', 'bengaluru-bulls', 'puneri-paltan', 'jaipur-pink-panthers', 'dabang-delhi-kc']
['637', '461', '455', '419', '410', '405', '404', '400', '393', '379', '353', '344']

In [444]:
team_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_raid_points':team_raid_points})
team_raid_points_seas1.head()

         team_name team_raid_points
0    patna-pirates              637
1        up-yoddha              461
2  bengal-warriors              455
3          u-mumba              419
4  tamil-thalaivas              410

Average Raid Points

In [445]:
driver.get('https://www.prokabaddi.com/stats/8-98-avg-raid-points-statistics')

In [446]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [447]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_raid_points.append(itm3)

print(team_names)
print(team_avg_raid_points)

['patna-pirates', 'up-yoddha', 'u-mumba', 'bengal-warriors', 'tamil-thalaivas', 'telugu-titans', 'bengaluru-bulls', 'haryana-steelers', 'gujarat-fortunegiants', 'jaipur-pink-panthers', 'puneri-paltan', 'dabang-delhi-kc']
['24.5', '20.04', '19.05', '18.96', '18.64', '18.18', '17.86', '17.57', '16.88', '16.05', '15.79', '15.64']

In [448]:
team_avg_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_raid_points':team_avg_raid_points})
team_avg_raid_points_seas1.head()

         team_name team_avg_raid_points
0    patna-pirates                 24.5
1        up-yoddha                20.04
2          u-mumba                19.05
3  bengal-warriors                18.96
4  tamil-thalaivas                18.64

Successful Tackles

In [449]:
driver.get('https://www.prokabaddi.com/stats/8-15-successful-tackles-statistics')

In [450]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [451]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_tackles.append(itm3)

print(team_names)
print(team_success_tackles)

['puneri-paltan', 'gujarat-fortunegiants', 'patna-pirates', 'haryana-steelers', 'telugu-titans', 'bengaluru-bulls', 'tamil-thalaivas', 'up-yoddha', 'bengal-warriors', 'u-mumba', 'jaipur-pink-panthers', 'dabang-delhi-kc']
['252', '242', '226', '206', '191', '185', '184', '183', '181', '176', '162', '159']

In [452]:
team_success_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_tackles':team_success_tackles})
team_success_tackles_seas1.head()

               team_name team_success_tackles
0          puneri-paltan                  252
1  gujarat-fortunegiants                  242
2          patna-pirates                  226
3       haryana-steelers                  206
4          telugu-titans                  191

Tackle Points

In [453]:
driver.get('https://www.prokabaddi.com/stats/8-95-tackle-points-statistics')

In [454]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [455]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_tackle_points.append(itm3)

print(team_names)
print(team_tackle_points)

['puneri-paltan', 'gujarat-fortunegiants', 'patna-pirates', 'haryana-steelers', 'telugu-titans', 'u-mumba', 'tamil-thalaivas', 'up-yoddha', 'bengaluru-bulls', 'bengal-warriors', 'jaipur-pink-panthers', 'dabang-delhi-kc']
['271', '254', '252', '227', '207', '202', '201', '201', '200', '193', '171', '169']

In [456]:
team_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_tackle_points':team_tackle_points})
team_tackle_points_seas1.head()

               team_name team_tackle_points
0          puneri-paltan                271
1  gujarat-fortunegiants                254
2          patna-pirates                252
3       haryana-steelers                227
4          telugu-titans                207

Average Tackle Points

In [457]:
driver.get('https://www.prokabaddi.com/stats/8-99-avg-tackle-points-statistics')

In [458]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [459]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_tackle_points.append(itm3)

print(team_names)
print(team_avg_tackle_points)

['puneri-paltan', 'gujarat-fortunegiants', 'haryana-steelers', 'patna-pirates', 'telugu-titans', 'u-mumba', 'tamil-thalaivas', 'bengaluru-bulls', 'up-yoddha', 'bengal-warriors', 'jaipur-pink-panthers', 'dabang-delhi-kc']
['11.29', '10.58', '9.87', '9.69', '9.41', '9.18', '9.14', '9.09', '8.74', '8.04', '7.77', '7.68']

In [460]:
team_avg_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_tackle_points':team_avg_tackle_points})
team_avg_tackle_points_seas1.head()

               team_name team_avg_tackle_points
0          puneri-paltan                  11.29
1  gujarat-fortunegiants                  10.58
2       haryana-steelers                   9.87
3          patna-pirates                   9.69
4          telugu-titans                   9.41

Super Raids

In [461]:
driver.get('https://www.prokabaddi.com/stats/8-134-super-raid-statistics')

In [462]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [463]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_raids.append(itm3)

print(team_names)
print(team_super_raids)

['patna-pirates', 'up-yoddha', 'jaipur-pink-panthers', 'puneri-paltan', 'haryana-steelers', 'bengal-warriors', 'gujarat-fortunegiants', 'u-mumba', 'telugu-titans', 'dabang-delhi-kc', 'bengaluru-bulls', 'tamil-thalaivas']
['26', '23', '13', '12', '12', '11', '11', '10', '10', '6', '5', '5']

In [464]:
team_super_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_raids':team_super_raids})
team_super_raids_seas1.head()

              team_name team_super_raids
0         patna-pirates               26
1             up-yoddha               23
2  jaipur-pink-panthers               13
3         puneri-paltan               12
4      haryana-steelers               12

Super Tackles

In [465]:
driver.get('https://www.prokabaddi.com/stats/8-20-super-tackles-statistics')

In [466]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [467]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_tackles.append(itm3)

print(team_names)
print(team_super_tackles)

['patna-pirates', 'u-mumba', 'puneri-paltan', 'haryana-steelers', 'up-yoddha', 'tamil-thalaivas', 'telugu-titans', 'bengaluru-bulls', 'dabang-delhi-kc', 'bengal-warriors', 'gujarat-fortunegiants', 'jaipur-pink-panthers']
['27', '26', '21', '21', '19', '17', '17', '17', '12', '12', '12', '10']

In [468]:
team_super_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_tackles':team_super_tackles})
team_super_tackles_seas1.head()

          team_name team_super_tackles
0     patna-pirates                 27
1           u-mumba                 26
2     puneri-paltan                 21
3  haryana-steelers                 21
4         up-yoddha                 19

Do Or Die Raid Points

In [469]:
driver.get('https://www.prokabaddi.com/stats/8-135-do-or-die-raid-points-statistics')

In [470]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [471]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_dod_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_dod_raid_points.append(itm3)

print(team_names)
print(team_dod_raid_points)

['puneri-paltan', 'haryana-steelers', 'gujarat-fortunegiants', 'patna-pirates', 'dabang-delhi-kc', 'bengaluru-bulls', 'tamil-thalaivas', 'telugu-titans', 'bengal-warriors', 'jaipur-pink-panthers', 'up-yoddha', 'u-mumba']
['119', '105', '98', '95', '94', '93', '89', '88', '87', '83', '83', '78']

In [472]:
team_dod_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_dod_raid_points':team_dod_raid_points})
team_dod_raid_points_seas1.head()

               team_name team_dod_raid_points
0          puneri-paltan                  119
1       haryana-steelers                  105
2  gujarat-fortunegiants                   98
3          patna-pirates                   95
4        dabang-delhi-kc                   94

All-Outs Inflicted

In [473]:
driver.get('https://www.prokabaddi.com/stats/8-136-all-outs-inflicted-statistics')

In [474]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [475]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_inflicted = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_inflicted.append(itm3)

print(team_names)
print(team_allouts_inflicted)

['patna-pirates', 'gujarat-fortunegiants', 'puneri-paltan', 'bengaluru-bulls', 'bengal-warriors', 'haryana-steelers', 'telugu-titans', 'up-yoddha', 'jaipur-pink-panthers', 'u-mumba', 'tamil-thalaivas', 'dabang-delhi-kc']
['55', '36', '32', '28', '27', '27', '25', '23', '22', '21', '19', '18']

In [476]:
team_allouts_inflicted_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_inflicted':team_allouts_inflicted})
team_allouts_inflicted_seas1.head()

               team_name team_allouts_inflicted
0          patna-pirates                     55
1  gujarat-fortunegiants                     36
2          puneri-paltan                     32
3        bengaluru-bulls                     28
4        bengal-warriors                     27

All-Outs Conceded

In [477]:
driver.get('https://www.prokabaddi.com/stats/8-137-all-outs-conceded-statistics')

In [478]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [479]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('gujarat-fortunegiants|puneri-paltan|up-yoddha|tamil-thalaivas|haryana-steelers|u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_conceded.append(itm3)

print(team_names)
print(team_allouts_conceded)

['u-mumba', 'dabang-delhi-kc', 'up-yoddha', 'tamil-thalaivas', 'bengal-warriors', 'patna-pirates', 'jaipur-pink-panthers', 'telugu-titans', 'bengaluru-bulls', 'haryana-steelers', 'puneri-paltan', 'gujarat-fortunegiants']
['36', '35', '32', '31', '29', '29', '27', '26', '25', '23', '23', '17']

In [480]:
team_allouts_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_conceded':team_allouts_conceded})
team_allouts_conceded_seas1.head()

         team_name team_allouts_conceded
0          u-mumba                    36
1  dabang-delhi-kc                    35
2        up-yoddha                    32
3  tamil-thalaivas                    31
4  bengal-warriors                    29

##### Merge Team Stats into a master frame

In [481]:
temp1 = pd.merge(team_tot_points_seas1, team_tot_points_conceded_seas1, on='team_name', how='left')
temp2 = pd.merge(temp1, team_avg_points_scored_seas1, on='team_name', how='left')
temp3 = pd.merge(temp2, team_success_raids_seas1, on='team_name', how='left')
temp4 = pd.merge(temp3, team_raid_points_seas1, on='team_name', how='left')
temp5 = pd.merge(temp4, team_avg_raid_points_seas1, on='team_name', how='left')
temp6 = pd.merge(temp5, team_success_tackles_seas1, on='team_name', how='left')
temp7 = pd.merge(temp6, team_tackle_points_seas1, on='team_name', how='left')
temp8 = pd.merge(temp7, team_avg_tackle_points_seas1, on='team_name', how='left')
temp9 = pd.merge(temp8, team_super_raids_seas1, on='team_name', how='left')
temp10 = pd.merge(temp9, team_super_tackles_seas1, on='team_name', how='left')
temp11 = pd.merge(temp10, team_dod_raid_points_seas1, on='team_name', how='left')
temp12 = pd.merge(temp11, team_allouts_inflicted_seas1, on='team_name', how='left')
season1_team_stats = pd.merge(temp12, team_allouts_conceded_seas1, on='team_name', how='left')

season1_team_stats = season1_team_stats.fillna(0)

season1_team_stats.head()

,team_name,matches_played,total_points_scored,total_points_conceded,team_avg_points,team_success_raids,team_raid_points,team_avg_raid_points,team_success_tackles,team_tackle_points,team_avg_tackle_points,team_super_raids,team_super_tackles,team_dod_raid_points,team_allouts_inflicted,team_allouts_conceded
0,patna-pirates,26,1050,921,34.19,487,637,24.5,226,252,9.69,26,27,95,55,29
1,gujarat-fortunegiants,24,775,641,27.45,335,405,16.88,242,254,10.58,11,12,98,36,17
2,puneri-paltan,24,766,683,27.08,304,379,15.79,252,271,11.29,12,21,119,32,23
3,up-yoddha,23,762,763,28.78,358,461,20.04,183,201,8.74,23,19,83,23,32
4,bengal-warriors,24,749,757,27,379,455,18.96,181,193,8.04,11,12,87,27,29

In [482]:
outfile = open('data/season5_team_stats.csv', mode='w')
season1_team_stats.to_csv('data/season5_team_stats.csv', mode='w', index = False, header=True)
outfile.close()