In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time

Download the Chrome Webdriver from https://sites.google.com/a/chromium.org/chromedriver/downloads (make sure you download the same Chrome version driver)

And place the file at notebook location

In [2]:
driver = webdriver.Chrome(executable_path='chromedriver.exe')

Getting the Player Stats<br>
First we will get the Total Points secured by Each player

In [3]:
driver.get('https://www.prokabaddi.com/stats/4-102-total-points-statistics')

Wait for above cell to execute

In [4]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [5]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
player_profile = []
player_team = []
matches_played = []
total_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm2 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm2)
    else:
        player_profile.append('')
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Matches Played by Player
    itm4 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm4)
    
    #Fetching the Total Points scored by a Player
    itm5 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm5)

#print(player_names)
#print(player_profile)
#print(player_team)
#print(matches_played)
#print(total_points)

In [6]:
pyr_tot_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team
                                     , 'matches_played':matches_played, 'total_points':total_points})

#pyr_tot_points_seas1.head()

Get Successful raids

In [7]:
driver.get('https://www.prokabaddi.com/stats/4-21-successful-raids-statistics')

Wait for above cell to execute

In [8]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [9]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_raids = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_raids.append(itm2)

#print(player_names)
#print(success_raids)

In [10]:
pyr_success_raids_seas1 = pd.DataFrame({'name':player_names, 'success_raids':success_raids})

#pyr_success_raids_seas1.head()

Get Raid Points

In [11]:
driver.get('https://www.prokabaddi.com/stats/4-22-raid-points-statistics')

Wait for above cell to execute

In [12]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [13]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    raid_points.append(itm2)

#print(player_names)
#print(raid_points)

In [14]:
pyr_raid_points_seas1 = pd.DataFrame({'name':player_names, 'raid_points':raid_points})

#pyr_raid_points_seas1.head()

Get Successful Tackles

In [15]:
driver.get('https://www.prokabaddi.com/stats/4-23-successful-tackles-statistics')

Wait for above cell to execute

In [16]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [17]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_tackles = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_tackles.append(itm2)

#print(player_names)
#print(success_tackles)

In [18]:
pyr_success_tackles_seas1 = pd.DataFrame({'name':player_names, 'success_tackles':success_tackles})

#pyr_success_tackles_seas1.head()

Get Tackle Points

In [19]:
driver.get('https://www.prokabaddi.com/stats/4-103-tackle-points-statistics')

Wait for above cell to execute

In [20]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [21]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
tackle_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    tackle_points.append(itm2)

#print(player_names)
#print(tackle_points)

In [22]:
pyr_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'tackle_points':tackle_points})

#pyr_tackle_points_seas1.head()

Get Average Raid Points

In [23]:
driver.get('https://www.prokabaddi.com/stats/4-138-avg-raid-points-statistics')

Wait for above cell to execute

In [24]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [25]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_raid_points.append(itm2)

#print(player_names)
#print(avg_raid_points)

In [26]:
pyr_avg_raid_points_seas1 = pd.DataFrame({'name':player_names, 'avg_raid_points':avg_raid_points})

#pyr_avg_raid_points_seas1.head()

Get Average Tackle Points

In [27]:
driver.get('https://www.prokabaddi.com/stats/4-139-avg-tackle-points-statistics')

Wait for above cell to execute

In [28]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [29]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_tackle_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_tackle_points.append(itm2)

#print(player_names)
#print(avg_tackle_points)

In [30]:
pyr_avg_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'avg_tackle_points':avg_tackle_points})

#pyr_avg_tackle_points_seas1.head()

Get Do Or Die Raid Points

In [31]:
driver.get('https://www.prokabaddi.com/stats/4-132-do-or-die-raid-points-statistics')

Wait for above cell to execute

In [32]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [33]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
dod_raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    dod_raid_points.append(itm2)

#print(player_names)
#print(dod_raid_points)

In [34]:
pyr_dod_raid_points_seas1 = pd.DataFrame({'name':player_names, 'dod_raid_points':dod_raid_points})

#pyr_dod_raid_points_seas1.head()

Get Super Raids

In [35]:
driver.get('https://www.prokabaddi.com/stats/4-104-super-raids-statistics')

Wait for above cell to execute

In [36]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [37]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_raids = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_raids.append(itm2)

#print(player_names)
#print(super_raids)

In [38]:
pyr_super_raids_seas1 = pd.DataFrame({'name':player_names, 'super_raids':super_raids})

#pyr_super_raids_seas1.head()

Get Super Tackles

In [39]:
driver.get('https://www.prokabaddi.com/stats/4-28-super-tackles-statistics')

Wait for above cell to execute

In [40]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [41]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_tackles = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_tackles.append(itm2)

#print(player_names)
#print(super_tackles)

In [42]:
pyr_super_tackles_seas1 = pd.DataFrame({'name':player_names, 'super_tackles':super_tackles})

#pyr_super_tackles_seas1.head()

Get Super 10s

In [43]:
driver.get('https://www.prokabaddi.com/stats/4-100-super-10s-statistics')

Wait for above cell to execute

In [44]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [45]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_10s = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_10s.append(itm2)

#print(player_names)
#print(super_10s)

In [46]:
pyr_super_10s_seas1 = pd.DataFrame({'name':player_names, 'super_10s':super_10s})

#pyr_super_10s_seas1.head()

Get High 5s

In [47]:
driver.get('https://www.prokabaddi.com/stats/4-101-high-5s-statistics')

Wait for above cell to execute

In [48]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [49]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
high_5s = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    high_5s.append(itm2)

#print(player_names)
#print(high_5s)

In [50]:
pyr_high_5s_seas1 = pd.DataFrame({'name':player_names, 'high_5s':high_5s})

#pyr_high_5s_seas1.head()

Merge Player Stats into a master frame

In [51]:
temp1 = pd.merge(pyr_tot_points_seas1, pyr_success_raids_seas1, on='name', how='left')
temp2 = pd.merge(temp1, pyr_raid_points_seas1, on='name', how='left')
temp3 = pd.merge(temp2, pyr_success_tackles_seas1, on='name', how='left')
temp4 = pd.merge(temp3, pyr_tackle_points_seas1, on='name', how='left')
temp5 = pd.merge(temp4, pyr_avg_raid_points_seas1, on='name', how='left')
temp6 = pd.merge(temp5, pyr_avg_tackle_points_seas1, on='name', how='left')
temp7 = pd.merge(temp6, pyr_dod_raid_points_seas1, on='name', how='left')
temp8 = pd.merge(temp7, pyr_super_raids_seas1, on='name', how='left')
temp9 = pd.merge(temp8, pyr_super_tackles_seas1, on='name', how='left')
temp10 = pd.merge(temp9, pyr_super_10s_seas1, on='name', how='left')
season1_plyr_stats = pd.merge(temp10, pyr_high_5s_seas1, on='name', how='left')

season1_plyr_stats = season1_plyr_stats.fillna(0)

season1_plyr_stats.head()

,name,profile,team,matches_played,total_points,success_raids,raid_points,success_tackles,tackle_points,avg_raid_points,avg_tackle_points,dod_raid_points,super_raids,super_tackles,super_10s,high_5s
0,Rahul Chaudhari,Raider,telugu-titans,16,150,110,146,3,4,9.13,0.25,38,6,1,7,0
1,Pardeep Narwal,Raider,patna-pirates,16,133,100,131,1,2,8.19,0.13,23,3,1,5,0
2,Deepak Niwas Hooda,All Rounder,puneri-paltan,16,130,108,126,4,4,7.88,0.25,34,2,0,2,0
3,Rohit Kumar,Raider,bengaluru-bulls,14,100,75,93,6,7,6.64,0.5,15,3,1,1,0
4,Kashiling Adake,Raider,dabang-delhi-kc,13,89,58,78,8,11,6,0.85,17,3,3,2,0

In [52]:
outfile = open('data/season4_player_stats.csv', mode='w')
season1_plyr_stats.to_csv('data/season4_player_stats.csv', mode='w', index = False, header=True)
outfile.close()

### Team Stats

Getting the Team Stats<br>
First we will get the Total Points secured by Each Team

In [53]:
driver.get('https://www.prokabaddi.com/stats/4-96-total-points-scored-statistics')
time.sleep(5)

In [54]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
matches_played = []
total_points = []

for item in team:
    
    #Fetching the Team
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    #Fetching the Matches Played by Team
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm2)
    
    #Fetching the Total Points scored by a Team
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm3)

#print(team_names)
#print(matches_played)
#print(total_points)

In [55]:
team_tot_points_seas1 = pd.DataFrame({'team_name':team_names, 'matches_played':matches_played
                                      , 'total_points_scored':total_points})

team_tot_points_seas1.head()

              team_name matches_played total_points_scored
0         puneri-paltan             16                 515
1         telugu-titans             16                 506
2         patna-pirates             16                 492
3  jaipur-pink-panthers             16                 475
4       dabang-delhi-kc             14                 419

Total Points Conceded

In [56]:
driver.get('https://www.prokabaddi.com/stats/4-133-total-points-conceded-statistics')
time.sleep(5)

In [57]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
total_points_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points_conceded.append(itm3)

#print(team_names)
#print(total_points_conceded)

In [58]:
team_tot_points_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'total_points_conceded':total_points_conceded})

#team_tot_points_conceded_seas1.head()

Average Points Scored

In [59]:
driver.get('https://www.prokabaddi.com/stats/4-140-avg-points-scored-statistics')
time.sleep(5)

In [60]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
avg_points_scored = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_points_scored.append(itm3)

print(team_names)
print(avg_points_scored)

['puneri-paltan', 'patna-pirates', 'telugu-titans', 'dabang-delhi-kc', 'jaipur-pink-panthers', 'u-mumba', 'bengal-warriors', 'bengaluru-bulls']
['27.25', '27.18', '26.81', '25.71', '25.31', '24.85', '23.35', '23.21']

In [61]:
team_avg_points_scored_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_points':avg_points_scored})
team_avg_points_scored_seas1.head()

              team_name team_avg_points
0         puneri-paltan           27.25
1         patna-pirates           27.18
2         telugu-titans           26.81
3       dabang-delhi-kc           25.71
4  jaipur-pink-panthers           25.31

Successful Raids

In [62]:
driver.get('https://www.prokabaddi.com/stats/4-13-successful-raids-statistics')
time.sleep(5)

In [63]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_raids.append(itm3)

print(team_names)
print(team_success_raids)

['puneri-paltan', 'telugu-titans', 'patna-pirates', 'jaipur-pink-panthers', 'u-mumba', 'bengal-warriors', 'dabang-delhi-kc', 'bengaluru-bulls']
['230', '206', '206', '203', '188', '167', '162', '157']

In [64]:
team_success_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_raids':team_success_raids})
team_success_raids_seas1.head()

              team_name team_success_raids
0         puneri-paltan                230
1         telugu-titans                206
2         patna-pirates                206
3  jaipur-pink-panthers                203
4               u-mumba                188

Raid Points

In [65]:
driver.get('https://www.prokabaddi.com/stats/4-97-raid-points-statistics')
time.sleep(5)

In [66]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_raid_points.append(itm3)

print(team_names)
print(team_raid_points)

['puneri-paltan', 'jaipur-pink-panthers', 'telugu-titans', 'patna-pirates', 'u-mumba', 'dabang-delhi-kc', 'bengal-warriors', 'bengaluru-bulls']
['290', '270', '267', '264', '227', '226', '202', '201']

In [67]:
team_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_raid_points':team_raid_points})
team_raid_points_seas1.head()

              team_name team_raid_points
0         puneri-paltan              290
1  jaipur-pink-panthers              270
2         telugu-titans              267
3         patna-pirates              264
4               u-mumba              227

Average Raid Points

In [68]:
driver.get('https://www.prokabaddi.com/stats/4-98-avg-raid-points-statistics')
time.sleep(5)

In [69]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_raid_points.append(itm3)

print(team_names)
print(team_avg_raid_points)

['puneri-paltan', 'jaipur-pink-panthers', 'telugu-titans', 'patna-pirates', 'u-mumba', 'dabang-delhi-kc', 'bengal-warriors', 'bengaluru-bulls']
['18.13', '16.88', '16.69', '16.5', '16.21', '16.14', '14.43', '14.36']

In [70]:
team_avg_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_raid_points':team_avg_raid_points})
team_avg_raid_points_seas1.head()

              team_name team_avg_raid_points
0         puneri-paltan                18.13
1  jaipur-pink-panthers                16.88
2         telugu-titans                16.69
3         patna-pirates                 16.5
4               u-mumba                16.21

Successful Tackles

In [71]:
driver.get('https://www.prokabaddi.com/stats/4-15-successful-tackles-statistics')
time.sleep(5)

In [72]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_tackles.append(itm3)

print(team_names)
print(team_success_tackles)

['telugu-titans', 'patna-pirates', 'puneri-paltan', 'jaipur-pink-panthers', 'bengal-warriors', 'dabang-delhi-kc', 'u-mumba', 'bengaluru-bulls']
['157', '145', '140', '119', '117', '116', '110', '109']

In [73]:
team_success_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_tackles':team_success_tackles})
team_success_tackles_seas1.head()

              team_name team_success_tackles
0         telugu-titans                  157
1         patna-pirates                  145
2         puneri-paltan                  140
3  jaipur-pink-panthers                  119
4       bengal-warriors                  117

Tackle Points

In [74]:
driver.get('https://www.prokabaddi.com/stats/4-95-tackle-points-statistics')
time.sleep(5)

In [75]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_tackle_points.append(itm3)

print(team_names)
print(team_tackle_points)

['patna-pirates', 'telugu-titans', 'puneri-paltan', 'jaipur-pink-panthers', 'dabang-delhi-kc', 'bengal-warriors', 'bengaluru-bulls', 'u-mumba']
['171', '162', '146', '135', '134', '125', '124', '121']

In [76]:
team_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_tackle_points':team_tackle_points})
team_tackle_points_seas1.head()

              team_name team_tackle_points
0         patna-pirates                171
1         telugu-titans                162
2         puneri-paltan                146
3  jaipur-pink-panthers                135
4       dabang-delhi-kc                134

Average Tackle Points

In [77]:
driver.get('https://www.prokabaddi.com/stats/4-99-avg-tackle-points-statistics')
time.sleep(5)

In [78]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_tackle_points.append(itm3)

print(team_names)
print(team_avg_tackle_points)

['patna-pirates', 'telugu-titans', 'dabang-delhi-kc', 'puneri-paltan', 'bengal-warriors', 'bengaluru-bulls', 'u-mumba', 'jaipur-pink-panthers']
['10.69', '10.13', '9.57', '9.13', '8.93', '8.86', '8.64', '8.44']

In [79]:
team_avg_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_tackle_points':team_avg_tackle_points})
team_avg_tackle_points_seas1.head()

         team_name team_avg_tackle_points
0    patna-pirates                  10.69
1    telugu-titans                  10.13
2  dabang-delhi-kc                   9.57
3    puneri-paltan                   9.13
4  bengal-warriors                   8.93

Super Raids

In [80]:
driver.get('https://www.prokabaddi.com/stats/4-134-super-raid-statistics')
time.sleep(5)

In [81]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_raids.append(itm3)

print(team_names)
print(team_super_raids)

['dabang-delhi-kc', 'puneri-paltan', 'telugu-titans', 'patna-pirates', 'jaipur-pink-panthers', 'bengal-warriors', 'u-mumba', 'bengaluru-bulls']
['11', '10', '7', '7', '6', '4', '4', '4']

In [82]:
team_super_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_raids':team_super_raids})
team_super_raids_seas1.head()

              team_name team_super_raids
0       dabang-delhi-kc               11
1         puneri-paltan               10
2         telugu-titans                7
3         patna-pirates                7
4  jaipur-pink-panthers                6

Super Tackles

In [83]:
driver.get('https://www.prokabaddi.com/stats/4-20-super-tackles-statistics')
time.sleep(5)

In [84]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_tackles.append(itm3)

print(team_names)
print(team_super_tackles)

['patna-pirates', 'dabang-delhi-kc', 'jaipur-pink-panthers', 'bengaluru-bulls', 'u-mumba', 'bengal-warriors', 'puneri-paltan', 'telugu-titans']
['27', '20', '17', '15', '11', '8', '7', '5']

In [85]:
team_super_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_tackles':team_super_tackles})
team_super_tackles_seas1.head()

              team_name team_super_tackles
0         patna-pirates                 27
1       dabang-delhi-kc                 20
2  jaipur-pink-panthers                 17
3       bengaluru-bulls                 15
4               u-mumba                 11

Do Or Die Raid Points

In [86]:
driver.get('https://www.prokabaddi.com/stats/4-135-do-or-die-raid-points-statistics')
time.sleep(5)

In [87]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_dod_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_dod_raid_points.append(itm3)

print(team_names)
print(team_dod_raid_points)

['dabang-delhi-kc', 'jaipur-pink-panthers', 'puneri-paltan', 'telugu-titans', 'patna-pirates', 'bengal-warriors', 'bengaluru-bulls', 'u-mumba']
['84', '80', '77', '76', '73', '62', '59', '42']

In [88]:
team_dod_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_dod_raid_points':team_dod_raid_points})
team_dod_raid_points_seas1.head()

              team_name team_dod_raid_points
0       dabang-delhi-kc                   84
1  jaipur-pink-panthers                   80
2         puneri-paltan                   77
3         telugu-titans                   76
4         patna-pirates                   73

All-Outs Inflicted

In [89]:
driver.get('https://www.prokabaddi.com/stats/4-136-all-outs-inflicted-statistics')
time.sleep(5)

In [90]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_inflicted = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_inflicted.append(itm3)

print(team_names)
print(team_allouts_inflicted)

['telugu-titans', 'puneri-paltan', 'patna-pirates', 'jaipur-pink-panthers', 'dabang-delhi-kc', 'u-mumba', 'bengal-warriors', 'bengaluru-bulls']
['22', '21', '19', '17', '15', '15', '11', '9']

In [91]:
team_allouts_inflicted_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_inflicted':team_allouts_inflicted})
team_allouts_inflicted_seas1.head()

              team_name team_allouts_inflicted
0         telugu-titans                     22
1         puneri-paltan                     21
2         patna-pirates                     19
3  jaipur-pink-panthers                     17
4       dabang-delhi-kc                     15

All-Outs Conceded

In [92]:
driver.get('https://www.prokabaddi.com/stats/4-137-all-outs-conceded-statistics')
time.sleep(5)

In [93]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_conceded.append(itm3)

print(team_names)
print(team_allouts_conceded)

['bengaluru-bulls', 'u-mumba', 'puneri-paltan', 'dabang-delhi-kc', 'bengal-warriors', 'jaipur-pink-panthers', 'telugu-titans', 'patna-pirates']
['21', '21', '17', '16', '15', '14', '13', '12']

In [94]:
team_allouts_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_conceded':team_allouts_conceded})
team_allouts_conceded_seas1.head()

         team_name team_allouts_conceded
0  bengaluru-bulls                    21
1          u-mumba                    21
2    puneri-paltan                    17
3  dabang-delhi-kc                    16
4  bengal-warriors                    15

##### Merge Team Stats into a master frame

In [95]:
temp1 = pd.merge(team_tot_points_seas1, team_tot_points_conceded_seas1, on='team_name', how='left')
temp2 = pd.merge(temp1, team_avg_points_scored_seas1, on='team_name', how='left')
temp3 = pd.merge(temp2, team_success_raids_seas1, on='team_name', how='left')
temp4 = pd.merge(temp3, team_raid_points_seas1, on='team_name', how='left')
temp5 = pd.merge(temp4, team_avg_raid_points_seas1, on='team_name', how='left')
temp6 = pd.merge(temp5, team_success_tackles_seas1, on='team_name', how='left')
temp7 = pd.merge(temp6, team_tackle_points_seas1, on='team_name', how='left')
temp8 = pd.merge(temp7, team_avg_tackle_points_seas1, on='team_name', how='left')
temp9 = pd.merge(temp8, team_super_raids_seas1, on='team_name', how='left')
temp10 = pd.merge(temp9, team_super_tackles_seas1, on='team_name', how='left')
temp11 = pd.merge(temp10, team_dod_raid_points_seas1, on='team_name', how='left')
temp12 = pd.merge(temp11, team_allouts_inflicted_seas1, on='team_name', how='left')
season1_team_stats = pd.merge(temp12, team_allouts_conceded_seas1, on='team_name', how='left')

season1_team_stats = season1_team_stats.fillna(0)

season1_team_stats

,team_name,matches_played,total_points_scored,total_points_conceded,team_avg_points,team_success_raids,team_raid_points,team_avg_raid_points,team_success_tackles,team_tackle_points,team_avg_tackle_points,team_super_raids,team_super_tackles,team_dod_raid_points,team_allouts_inflicted,team_allouts_conceded
0,puneri-paltan,16,515,491,27.25,230,290,18.13,140,146,9.13,10,7,77,21,17
1,telugu-titans,16,506,454,26.81,206,267,16.69,157,162,10.13,7,5,76,22,13
2,patna-pirates,16,492,466,27.18,206,264,16.5,145,171,10.69,7,27,73,19,12
3,jaipur-pink-panthers,16,475,450,25.31,203,270,16.88,119,135,8.44,6,17,80,17,14
4,dabang-delhi-kc,14,419,412,25.71,162,226,16.14,116,134,9.57,11,20,84,15,16
5,u-mumba,14,399,418,24.85,188,227,16.21,110,121,8.64,4,11,42,15,21
6,bengal-warriors,14,378,438,23.35,167,202,14.43,117,125,8.93,4,8,62,11,15
7,bengaluru-bulls,14,360,415,23.21,157,201,14.36,109,124,8.86,4,15,59,9,21

In [96]:
outfile = open('data/season4_team_stats.csv', mode='w')
season1_team_stats.to_csv('data/season4_team_stats.csv', mode='w', index = False, header=True)
outfile.close()