In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time

Download the Chrome Webdriver from https://sites.google.com/a/chromium.org/chromedriver/downloads (make sure you download the same Chrome version driver)

And place the file at notebook location

In [2]:
driver = webdriver.Chrome(executable_path='chromedriver.exe')

Getting the Player Stats<br>
First we will get the Total Points secured by Each player

In [3]:
driver.get('https://www.prokabaddi.com/stats/2-102-total-points-statistics')

Wait for above cell to execute

In [4]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [5]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
player_profile = []
player_team = []
matches_played = []
total_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Player Profile
    if item.find('div',attrs={'class':'sipk-lb-playerprofile'}):
        itm2 = item.find('div',attrs={'class':'sipk-lb-playerprofile'}).span.text
        player_profile.append(itm2)
    else:
        player_profile.append('')
    
    #Fetching the Player Team
    itm3 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm3.attrs['href'])
    player_team.append(srch[0])
    
    #Fetching the Matches Played by Player
    itm4 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm4)
    
    #Fetching the Total Points scored by a Player
    itm5 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm5)

#print(player_names)
#print(player_profile)
#print(player_team)
#print(matches_played)
#print(total_points)

In [7]:
pyr_tot_points_seas1 = pd.DataFrame({'name':player_names, 'profile':player_profile, 'team':player_team
                                     , 'matches_played':matches_played, 'total_points':total_points})

#pyr_tot_points_seas1.head()

Get Successful raids

In [8]:
driver.get('https://www.prokabaddi.com/stats/2-21-successful-raids-statistics')

Wait for above cell to execute

In [9]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [10]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_raids = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_raids.append(itm2)

#print(player_names)
#print(success_raids)

In [11]:
pyr_success_raids_seas1 = pd.DataFrame({'name':player_names, 'success_raids':success_raids})

#pyr_success_raids_seas1.head()

Get Raid Points

In [12]:
driver.get('https://www.prokabaddi.com/stats/2-22-raid-points-statistics')

Wait for above cell to execute

In [13]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [14]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    raid_points.append(itm2)

#print(player_names)
#print(raid_points)

In [15]:
pyr_raid_points_seas1 = pd.DataFrame({'name':player_names, 'raid_points':raid_points})

#pyr_raid_points_seas1.head()

Get Successful Tackles

In [16]:
driver.get('https://www.prokabaddi.com/stats/2-23-successful-tackles-statistics')

Wait for above cell to execute

In [17]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [18]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
success_tackles = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    success_tackles.append(itm2)

#print(player_names)
#print(success_tackles)

In [19]:
pyr_success_tackles_seas1 = pd.DataFrame({'name':player_names, 'success_tackles':success_tackles})

#pyr_success_tackles_seas1.head()

Get Tackle Points

In [20]:
driver.get('https://www.prokabaddi.com/stats/2-103-tackle-points-statistics')

Wait for above cell to execute

In [21]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [22]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
tackle_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    tackle_points.append(itm2)

#print(player_names)
#print(tackle_points)

In [23]:
pyr_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'tackle_points':tackle_points})

#pyr_tackle_points_seas1.head()

Get Average Raid Points

In [24]:
driver.get('https://www.prokabaddi.com/stats/2-138-avg-raid-points-statistics')

Wait for above cell to execute

In [25]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [26]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_raid_points.append(itm2)

#print(player_names)
#print(avg_raid_points)

In [27]:
pyr_avg_raid_points_seas1 = pd.DataFrame({'name':player_names, 'avg_raid_points':avg_raid_points})

#pyr_avg_raid_points_seas1.head()

Get Average Tackle Points

In [28]:
driver.get('https://www.prokabaddi.com/stats/2-139-avg-tackle-points-statistics')

Wait for above cell to execute

In [29]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [30]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
avg_tackle_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_tackle_points.append(itm2)

#print(player_names)
#print(avg_tackle_points)

In [31]:
pyr_avg_tackle_points_seas1 = pd.DataFrame({'name':player_names, 'avg_tackle_points':avg_tackle_points})

#pyr_avg_tackle_points_seas1.head()

Get Do Or Die Raid Points

In [32]:
driver.get('https://www.prokabaddi.com/stats/2-132-do-or-die-raid-points-statistics')

Wait for above cell to execute

In [33]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [34]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
dod_raid_points = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    dod_raid_points.append(itm2)

#print(player_names)
#print(dod_raid_points)

In [35]:
pyr_dod_raid_points_seas1 = pd.DataFrame({'name':player_names, 'dod_raid_points':dod_raid_points})

#pyr_dod_raid_points_seas1.head()

Get Super Raids

In [36]:
driver.get('https://www.prokabaddi.com/stats/2-104-super-raids-statistics')

Wait for above cell to execute

In [37]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [38]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_raids = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_raids.append(itm2)

#print(player_names)
#print(super_raids)

In [39]:
pyr_super_raids_seas1 = pd.DataFrame({'name':player_names, 'super_raids':super_raids})

#pyr_super_raids_seas1.head()

Get Super Tackles

In [40]:
driver.get('https://www.prokabaddi.com/stats/2-28-super-tackles-statistics')

Wait for above cell to execute

In [41]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [42]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_tackles = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_tackles.append(itm2)

#print(player_names)
#print(super_tackles)

In [43]:
pyr_super_tackles_seas1 = pd.DataFrame({'name':player_names, 'super_tackles':super_tackles})

#pyr_super_tackles_seas1.head()

Get Super 10s

In [44]:
driver.get('https://www.prokabaddi.com/stats/2-100-super-10s-statistics')

Wait for above cell to execute

In [45]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [46]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
super_10s = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    super_10s.append(itm2)

#print(player_names)
#print(super_10s)

In [47]:
pyr_super_10s_seas1 = pd.DataFrame({'name':player_names, 'super_10s':super_10s})

#pyr_super_10s_seas1.head()

Get High 5s

In [48]:
driver.get('https://www.prokabaddi.com/stats/2-101-high-5s-statistics')

Wait for above cell to execute

In [49]:
time.sleep(7)

myelement = driver.find_element_by_xpath('//*[@id="load_more"]')

while myelement.is_displayed():
    if myelement.is_displayed():
        myelement.click()

time.sleep(3)

In [50]:
soup = BeautifulSoup(driver.page_source)
player = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

player_names = []
high_5s = []

for item in player:
    
    #Fetching the Player Name
    itm1 = item.find('div',attrs={'class':'sipk-lb-playerName'}).span.text.replace('\n', ' ').strip()
    player_names.append(itm1)
    
    #Fetching the Raid Points scored by a Player
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    high_5s.append(itm2)

#print(player_names)
#print(high_5s)

In [51]:
pyr_high_5s_seas1 = pd.DataFrame({'name':player_names, 'high_5s':high_5s})

#pyr_high_5s_seas1.head()

Merge Player Stats into a master frame

In [52]:
temp1 = pd.merge(pyr_tot_points_seas1, pyr_success_raids_seas1, on='name', how='left')
temp2 = pd.merge(temp1, pyr_raid_points_seas1, on='name', how='left')
temp3 = pd.merge(temp2, pyr_success_tackles_seas1, on='name', how='left')
temp4 = pd.merge(temp3, pyr_tackle_points_seas1, on='name', how='left')
temp5 = pd.merge(temp4, pyr_avg_raid_points_seas1, on='name', how='left')
temp6 = pd.merge(temp5, pyr_avg_tackle_points_seas1, on='name', how='left')
temp7 = pd.merge(temp6, pyr_dod_raid_points_seas1, on='name', how='left')
temp8 = pd.merge(temp7, pyr_super_raids_seas1, on='name', how='left')
temp9 = pd.merge(temp8, pyr_super_tackles_seas1, on='name', how='left')
temp10 = pd.merge(temp9, pyr_super_10s_seas1, on='name', how='left')
season1_plyr_stats = pd.merge(temp10, pyr_high_5s_seas1, on='name', how='left')

season1_plyr_stats = season1_plyr_stats.fillna(0)

season1_plyr_stats.head()

,name,profile,team,matches_played,total_points,success_raids,raid_points,success_tackles,tackle_points,avg_raid_points,avg_tackle_points,dod_raid_points,super_raids,super_tackles,super_10s,high_5s
0,Kashiling Adake,Raider,dabang-delhi-kc,14,117,87,114,3,3,8.14,0.21,20,7,0,3,0
1,Manjeet Chhillar,All Rounder,bengaluru-bulls,16,107,60,67,39,40,4.19,2.5,4,0,1,0,3
2,Rahul Chaudhari,Raider,telugu-titans,14,107,75,98,9,9,7,0.64,14,6,0,5,0
3,Deepak Niwas Hooda,All Rounder,telugu-titans,15,96,54,60,32,36,4,2.4,8,1,4,1,3
4,Rajesh Narwal,All Rounder,jaipur-pink-panthers,14,87,54,69,16,18,4.93,1.29,14,3,2,2,0

In [53]:
outfile = open('data/season2_player_stats.csv', mode='w')
season1_plyr_stats.to_csv('data/season2_player_stats.csv', mode='w', index = False, header=True)
outfile.close()

### Team Stats

Getting the Team Stats<br>
First we will get the Total Points secured by Each Team

In [54]:
driver.get('https://www.prokabaddi.com/stats/2-96-total-points-scored-statistics')
time.sleep(5)

In [55]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
matches_played = []
total_points = []

for item in team:
    
    #Fetching the Team
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    #Fetching the Matches Played by Team
    itm2 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-matchedPlayed'}).span.text
    matches_played.append(itm2)
    
    #Fetching the Total Points scored by a Team
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points.append(itm3)

#print(team_names)
#print(matches_played)
#print(total_points)

In [56]:
team_tot_points_seas1 = pd.DataFrame({'team_name':team_names, 'matches_played':matches_played
                                      , 'total_points_scored':total_points})

team_tot_points_seas1.head()

              team_name matches_played total_points_scored
0         telugu-titans             16                 586
1       bengaluru-bulls             16                 508
2               u-mumba             16                 489
3         patna-pirates             16                 444
4  jaipur-pink-panthers             14                 442

Total Points Conceded

In [57]:
driver.get('https://www.prokabaddi.com/stats/2-133-total-points-conceded-statistics')
time.sleep(5)

In [58]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
total_points_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    total_points_conceded.append(itm3)

#print(team_names)
#print(total_points_conceded)

In [59]:
team_tot_points_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'total_points_conceded':total_points_conceded})

#team_tot_points_conceded_seas1.head()

Average Points Scored

In [60]:
driver.get('https://www.prokabaddi.com/stats/2-140-avg-points-scored-statistics')
time.sleep(5)

In [61]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
avg_points_scored = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    avg_points_scored.append(itm3)

print(team_names)
print(avg_points_scored)

['telugu-titans', 'u-mumba', 'jaipur-pink-panthers', 'bengaluru-bulls', 'dabang-delhi-kc', 'patna-pirates', 'puneri-paltan', 'bengal-warriors']
['32.25', '27.06', '26.71', '26', '25.21', '24.5', '24.07', '22.85']

In [62]:
team_avg_points_scored_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_points':avg_points_scored})
team_avg_points_scored_seas1.head()

              team_name team_avg_points
0         telugu-titans           32.25
1               u-mumba           27.06
2  jaipur-pink-panthers           26.71
3       bengaluru-bulls              26
4       dabang-delhi-kc           25.21

Successful Raids

In [63]:
driver.get('https://www.prokabaddi.com/stats/2-13-successful-raids-statistics')
time.sleep(5)

In [64]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_raids.append(itm3)

print(team_names)
print(team_success_raids)

['telugu-titans', 'bengaluru-bulls', 'u-mumba', 'jaipur-pink-panthers', 'patna-pirates', 'puneri-paltan', 'dabang-delhi-kc', 'bengal-warriors']
['265', '194', '187', '183', '182', '170', '159', '134']

In [65]:
team_success_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_raids':team_success_raids})
team_success_raids_seas1.head()

              team_name team_success_raids
0         telugu-titans                265
1       bengaluru-bulls                194
2               u-mumba                187
3  jaipur-pink-panthers                183
4         patna-pirates                182

Raid Points

In [66]:
driver.get('https://www.prokabaddi.com/stats/2-97-raid-points-statistics')
time.sleep(5)

In [67]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_raid_points.append(itm3)

print(team_names)
print(team_raid_points)

['telugu-titans', 'bengaluru-bulls', 'u-mumba', 'jaipur-pink-panthers', 'patna-pirates', 'puneri-paltan', 'dabang-delhi-kc', 'bengal-warriors']
['344', '252', '237', '232', '228', '223', '217', '184']

In [68]:
team_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_raid_points':team_raid_points})
team_raid_points_seas1.head()

              team_name team_raid_points
0         telugu-titans              344
1       bengaluru-bulls              252
2               u-mumba              237
3  jaipur-pink-panthers              232
4         patna-pirates              228

Average Raid Points

In [69]:
driver.get('https://www.prokabaddi.com/stats/2-98-avg-raid-points-statistics')
time.sleep(5)

In [70]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_raid_points.append(itm3)

print(team_names)
print(team_avg_raid_points)

['telugu-titans', 'jaipur-pink-panthers', 'puneri-paltan', 'bengaluru-bulls', 'dabang-delhi-kc', 'u-mumba', 'patna-pirates', 'bengal-warriors']
['21.5', '16.57', '15.93', '15.75', '15.5', '14.81', '14.25', '13.14']

In [71]:
team_avg_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_raid_points':team_avg_raid_points})
team_avg_raid_points_seas1.head()

              team_name team_avg_raid_points
0         telugu-titans                 21.5
1  jaipur-pink-panthers                16.57
2         puneri-paltan                15.93
3       bengaluru-bulls                15.75
4       dabang-delhi-kc                 15.5

Successful Tackles

In [72]:
driver.get('https://www.prokabaddi.com/stats/2-15-successful-tackles-statistics')
time.sleep(5)

In [73]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_success_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_success_tackles.append(itm3)

print(team_names)
print(team_success_tackles)

['u-mumba', 'telugu-titans', 'bengaluru-bulls', 'patna-pirates', 'jaipur-pink-panthers', 'dabang-delhi-kc', 'bengal-warriors', 'puneri-paltan']
['180', '158', '158', '152', '124', '122', '116', '104']

In [74]:
team_success_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_success_tackles':team_success_tackles})
team_success_tackles_seas1.head()

              team_name team_success_tackles
0               u-mumba                  180
1         telugu-titans                  158
2       bengaluru-bulls                  158
3         patna-pirates                  152
4  jaipur-pink-panthers                  124

Tackle Points

In [75]:
driver.get('https://www.prokabaddi.com/stats/2-95-tackle-points-statistics')
time.sleep(5)

In [76]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_tackle_points.append(itm3)

print(team_names)
print(team_tackle_points)

['u-mumba', 'telugu-titans', 'patna-pirates', 'bengaluru-bulls', 'jaipur-pink-panthers', 'bengal-warriors', 'dabang-delhi-kc', 'puneri-paltan']
['196', '172', '164', '164', '142', '136', '136', '114']

In [77]:
team_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_tackle_points':team_tackle_points})
team_tackle_points_seas1.head()

              team_name team_tackle_points
0               u-mumba                196
1         telugu-titans                172
2         patna-pirates                164
3       bengaluru-bulls                164
4  jaipur-pink-panthers                142

Average Tackle Points

In [78]:
driver.get('https://www.prokabaddi.com/stats/2-99-avg-tackle-points-statistics')
time.sleep(5)

In [79]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_avg_tackle_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_avg_tackle_points.append(itm3)

print(team_names)
print(team_avg_tackle_points)

['u-mumba', 'telugu-titans', 'patna-pirates', 'bengaluru-bulls', 'jaipur-pink-panthers', 'bengal-warriors', 'dabang-delhi-kc', 'puneri-paltan']
['12.25', '10.75', '10.25', '10.25', '10.14', '9.71', '9.71', '8.14']

In [80]:
team_avg_tackle_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_avg_tackle_points':team_avg_tackle_points})
team_avg_tackle_points_seas1.head()

              team_name team_avg_tackle_points
0               u-mumba                  12.25
1         telugu-titans                  10.75
2         patna-pirates                  10.25
3       bengaluru-bulls                  10.25
4  jaipur-pink-panthers                  10.14

Super Raids

In [81]:
driver.get('https://www.prokabaddi.com/stats/2-134-super-raid-statistics')
time.sleep(5)

In [82]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_raids = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_raids.append(itm3)

print(team_names)
print(team_super_raids)

['telugu-titans', 'dabang-delhi-kc', 'bengaluru-bulls', 'bengal-warriors', 'puneri-paltan', 'u-mumba', 'jaipur-pink-panthers', 'patna-pirates']
['16', '14', '10', '9', '8', '7', '5', '4']

In [83]:
team_super_raids_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_raids':team_super_raids})
team_super_raids_seas1.head()

         team_name team_super_raids
0    telugu-titans               16
1  dabang-delhi-kc               14
2  bengaluru-bulls               10
3  bengal-warriors                9
4    puneri-paltan                8

Super Tackles

In [84]:
driver.get('https://www.prokabaddi.com/stats/2-20-super-tackles-statistics')
time.sleep(5)

In [85]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_super_tackles = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_super_tackles.append(itm3)

print(team_names)
print(team_super_tackles)

['bengal-warriors', 'jaipur-pink-panthers', 'telugu-titans', 'u-mumba', 'dabang-delhi-kc', 'patna-pirates', 'puneri-paltan', 'bengaluru-bulls']
['21', '18', '16', '16', '14', '13', '11', '7']

In [86]:
team_super_tackles_seas1 = pd.DataFrame({'team_name':team_names, 'team_super_tackles':team_super_tackles})
team_super_tackles_seas1.head()

              team_name team_super_tackles
0       bengal-warriors                 21
1  jaipur-pink-panthers                 18
2         telugu-titans                 16
3               u-mumba                 16
4       dabang-delhi-kc                 14

Do Or Die Raid Points

In [87]:
driver.get('https://www.prokabaddi.com/stats/2-135-do-or-die-raid-points-statistics')
time.sleep(5)

In [88]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_dod_raid_points = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_dod_raid_points.append(itm3)

print(team_names)
print(team_dod_raid_points)

['u-mumba', 'bengaluru-bulls', 'telugu-titans', 'dabang-delhi-kc', 'patna-pirates', 'bengal-warriors', 'puneri-paltan', 'jaipur-pink-panthers']
['81', '80', '66', '61', '60', '59', '56', '47']

In [89]:
team_dod_raid_points_seas1 = pd.DataFrame({'team_name':team_names, 'team_dod_raid_points':team_dod_raid_points})
team_dod_raid_points_seas1.head()

         team_name team_dod_raid_points
0          u-mumba                   81
1  bengaluru-bulls                   80
2    telugu-titans                   66
3  dabang-delhi-kc                   61
4    patna-pirates                   60

All-Outs Inflicted

In [90]:
driver.get('https://www.prokabaddi.com/stats/2-136-all-outs-inflicted-statistics')
time.sleep(5)

In [91]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_inflicted = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_inflicted.append(itm3)

print(team_names)
print(team_allouts_inflicted)

['telugu-titans', 'bengaluru-bulls', 'u-mumba', 'jaipur-pink-panthers', 'dabang-delhi-kc', 'patna-pirates', 'puneri-paltan', 'bengal-warriors']
['26', '25', '20', '17', '13', '13', '12', '10']

In [92]:
team_allouts_inflicted_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_inflicted':team_allouts_inflicted})
team_allouts_inflicted_seas1.head()

              team_name team_allouts_inflicted
0         telugu-titans                     26
1       bengaluru-bulls                     25
2               u-mumba                     20
3  jaipur-pink-panthers                     17
4       dabang-delhi-kc                     13

All-Outs Conceded

In [93]:
driver.get('https://www.prokabaddi.com/stats/2-137-all-outs-conceded-statistics')
time.sleep(5)

In [94]:
soup = BeautifulSoup(driver.page_source)
team = soup.findAll('div',attrs={'class':'lb-detailItem-wrap'})

team_names = []
team_allouts_conceded = []

for item in team:
    
    itm1 = item.find('a',attrs={'class':'sipk-lb-detailBlock sipk-playerDesc'})
    srch = re.findall('u-mumba|telugu-titans|jaipur-pink-panthers|bengaluru-bulls|dabang-delhi-kc|patna-pirates|puneri-paltan|bengal-warriors', itm1.attrs['href'])
    team_names.append(srch[0])
    
    itm3 = item.find('div',attrs={'class':'sipk-lb-detailBlock sipk-lb-raidPoints'}).span.text
    team_allouts_conceded.append(itm3)

print(team_names)
print(team_allouts_conceded)

['patna-pirates', 'puneri-paltan', 'dabang-delhi-kc', 'bengal-warriors', 'bengaluru-bulls', 'telugu-titans', 'u-mumba', 'jaipur-pink-panthers']
['21', '21', '20', '17', '16', '15', '14', '12']

In [95]:
team_allouts_conceded_seas1 = pd.DataFrame({'team_name':team_names, 'team_allouts_conceded':team_allouts_conceded})
team_allouts_conceded_seas1.head()

         team_name team_allouts_conceded
0    patna-pirates                    21
1    puneri-paltan                    21
2  dabang-delhi-kc                    20
3  bengal-warriors                    17
4  bengaluru-bulls                    16

##### Merge Team Stats into a master frame

In [96]:
temp1 = pd.merge(team_tot_points_seas1, team_tot_points_conceded_seas1, on='team_name', how='left')
temp2 = pd.merge(temp1, team_avg_points_scored_seas1, on='team_name', how='left')
temp3 = pd.merge(temp2, team_success_raids_seas1, on='team_name', how='left')
temp4 = pd.merge(temp3, team_raid_points_seas1, on='team_name', how='left')
temp5 = pd.merge(temp4, team_avg_raid_points_seas1, on='team_name', how='left')
temp6 = pd.merge(temp5, team_success_tackles_seas1, on='team_name', how='left')
temp7 = pd.merge(temp6, team_tackle_points_seas1, on='team_name', how='left')
temp8 = pd.merge(temp7, team_avg_tackle_points_seas1, on='team_name', how='left')
temp9 = pd.merge(temp8, team_super_raids_seas1, on='team_name', how='left')
temp10 = pd.merge(temp9, team_super_tackles_seas1, on='team_name', how='left')
temp11 = pd.merge(temp10, team_dod_raid_points_seas1, on='team_name', how='left')
temp12 = pd.merge(temp11, team_allouts_inflicted_seas1, on='team_name', how='left')
season1_team_stats = pd.merge(temp12, team_allouts_conceded_seas1, on='team_name', how='left')

season1_team_stats = season1_team_stats.fillna(0)

season1_team_stats

,team_name,matches_played,total_points_scored,total_points_conceded,team_avg_points,team_success_raids,team_raid_points,team_avg_raid_points,team_success_tackles,team_tackle_points,team_avg_tackle_points,team_super_raids,team_super_tackles,team_dod_raid_points,team_allouts_inflicted,team_allouts_conceded
0,telugu-titans,16,586,493,32.25,265,344,21.5,158,172,10.75,16,16,66,26,15
1,bengaluru-bulls,16,508,457,26,194,252,15.75,158,164,10.25,10,7,80,25,16
2,u-mumba,16,489,426,27.06,187,237,14.81,180,196,12.25,7,16,81,20,14
3,patna-pirates,16,444,489,24.5,182,228,14.25,152,164,10.25,4,13,60,13,21
4,jaipur-pink-panthers,14,442,399,26.71,183,232,16.57,124,142,10.14,5,18,47,17,12
5,dabang-delhi-kc,14,396,464,25.21,159,217,15.5,122,136,9.71,14,14,61,13,20
6,puneri-paltan,14,391,465,24.07,170,223,15.93,104,114,8.14,8,11,56,12,21
7,bengal-warriors,14,367,430,22.85,134,184,13.14,116,136,9.71,9,21,59,10,17

In [97]:
outfile = open('data/season2_team_stats.csv', mode='w')
season1_team_stats.to_csv('data/season2_team_stats.csv', mode='w', index = False, header=True)
outfile.close()